<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
<head>
	<th:block th:insert="~{fragments/head.html :: head('광고 분류 등록')}"></th:block>
	<script type="text/javascript">
		$(function() {
			// 포커스 설정
			setInputFocus('ac_name');
        });
    </script>
</head>

<body>
	<main class="contents_wrap">
		<header th:replace="~{fragments/header.html :: header}"></header>
	
		<article class="contents_container">
			<nav th:replace="~{fragments/nav.html :: nav}"></nav>
			
			<div class="content">
                <div class="content_inner sc">
					<section class="content_info_wrap">
						<div class="content_top">
					        <div class="content_top_info">
					            <h2 class="title">광고 분류 관리</h2>
					        </div>
				            <p class="sub_title">광고 분류 등록</p>
					    </div>
					    
					    <form name="advertisement_category_reg_form" onsubmit="return false">					    	
						    <div class="table_wrap">
		                        <table class="content_edit_table">
		                            <colgroup>
	                                    <col class="col_row_title">
	                                    <col>
	                                    <col class="col_row_title">
	                                    <col>
	                                </colgroup>
	                                
		                            <tbody>
		                                <tr>
		                                	<th><p class="table_title">분류명</p></th>
		                                	<td>
		                                		<input type="text" name="ac_name" id="ac_name" class="table_info" placeholder="광고 위치 분류명"
		                                			onblur="requestDuplicateCheck(this, true);">
	                                        </td>
	                                        
	                                        <th><p class="table_title">참고 사항</p></th>
		                                	<td>
		                                		<input type="text" name="ac_note" id="ac_note" class="table_info" placeholder="참고 사항">
	                                        </td>
		                                </tr>
		                            </tbody>
		                        </table>
		                        
		                        <div class="btn_list right">
	                                <div class="btn_list">
	                                    <div onclick="history.back();" class="btns cancel">뒤로가기</div>
	                                    <div onclick="postAdvertisementCategoryCreate('advertisement_category_reg_form', true)" class="btns">등록</div>
	                                </div>
	                            </div>
		                    </div>
	                    </form>
					</section>
                </div>
            </div>
		</article>
	</main>
</body>
</html>