<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head>
    <th:block th:insert="~{fragments/head.html :: head('광고 수정')}"></th:block>
    <script th:inline="javascript">
		$(function() {
			// advertisement category 가져오기
            const selectedCategory = /*[[${advertisementDto.ad_category_no}]]*/ // 기본값 설정
            getCategoryList('ad_category_no', true, selectedCategory); // element id, isForm, selectedValue
        });
    </script>
</head>

<body>
	<main class="contents_wrap">
	    <header th:replace="~{fragments/header.html :: header}"></header>
	
	    <article class="contents_container">
	        <nav th:replace="~{fragments/nav.html :: nav}"></nav>
	
	        <div class="content">
	            <div class="content_inner sc">
	                <section class="content_info_wrap">
	                    <div class="content_top">
	                        <div class="content_top_info">
	                            <h2 class="title">광고 관리</h2>
	                        </div>
	                        <p class="sub_title">광고수정</p>
	                    </div>
	
	                    <form name="advertisement_modify_form">
		                    <input type="hidden" name="ad_no" th:value="${advertisementDto.ad_no}">
		                    
	                        <div class="table_wrap">
	                            <table class="content_edit_table">
	                                <colgroup>
	                                    <col class="col_row_title">
	                                    <col>
	                                    <col class="col_row_title">
	                                    <col>
	                                </colgroup>
	
	                                <tbody>
		                                <tr>
		                                    <th><p class="table_title">분류</p></th>
		                                    <td>
		                                        <select class="table_info select" name="ad_category_no" id="ad_category_no"></select>
		                                    </td>
		
		                                    <th><p class="table_title">클라이언트</p></th>
		                                    <td>
		                                        <input type="text" name="ad_client" id="ad_client" class="table_info" placeholder="클라이언트"
		                                            onblur="validateEmpty(this, '클라이언트를')"
		                                            th:value="${advertisementDto.ad_client}">
		                                    </td>
		                                </tr>
		
		                                <tr>
		                                	<th><p class="table_title">시작일</p></th>
		                                	<td>
		                                		<input type="date" name="ad_start_date" id="ad_start_date" max="9999-12-31" min="1900-01-01" class="table_info"
	                                            	onchange="validateEmpty(this, '시작일을')" onblur="validateEmpty(this, '시작일을')"
	                                            	th:value="${advertisementDto.ad_start_date}">
		                                	</td>
		                                	
		                                	<th><p class="table_title">종료일</p></th>
		                                	<td>
		                                		<input type="date" name="ad_end_date" id="ad_end_date" max="9999-12-31" min="1900-01-01" class="table_info"
	                                            	onchange="validateEmpty(this, '종료일을')" onblur="validateEmpty(this, '종료일을')"
	                                            	th:value="${advertisementDto.ad_end_date}">
		                                	</td>
	                                	</tr>
	                                	
	                                	<tr>
		                                	<th><p class="table_title">URL</p></th>
		                                	<td>
		                                		<input type="text" name="ad_url" id="ad_url" class="table_info" placeholder="URL"
	                                				onblur="validateEmpty(this, 'URL 주소를')"
                                					th:value="${advertisementDto.ad_url}">
		                                	</td>
	                                	</tr>
	                                	
	                                	<tr>
		                                	<th><p class="table_title">파일 첨부</p></th>
		                                	<td>
		                                		
		                                	</td>
	                                	</tr>
	                                </tbody>
	                            </table>
	
	                            <div class="btn_list">
	                            	<div th:if="${advertisementDto.ad_no} != null"
		                        		 th:onclick="delSingleData('ad_no', [[${advertisementDto.ad_no}]], [[${advertisementDto.a_id} + '님의 광고']])" class="btns delete">삭제</div>
		                        		 
	                                <div class="btn_list">
	                                    <a href="javascript: history.back();" class="btns cancel">뒤로가기</a>
	                                    <div onclick="putAdvertisementModifyForm('advertisement_modify_form')" class="btns">수정</div>
	                                </div>
	                            </div>
	                        </div>
	                    </form>
	                </section>
	            </div>
	        </div>
	    </article>
	</main>
</body>
</html>
