/* quill editor */
.ql-toolbar.ql-snow {
	display: flex;
	justify-content: flex-start;
	padding: var(--textPadding);
	background-color: #FAFAFA;
	border: none;
	border-bottom: 1px solid var(--lightGrayColor);
}

.ql-toolbar.ql-snow .ql-formats {
	margin: 0;
}

.ql-snow .ql-formats {
	display: flex;
	align-items: center;
	gap: var(--smallGap);
}

.ql-snow .ql-formats:after {
	display: none;
}

.ql-container.ql-snow {
	border: none;
}

.ql-snow .ql-picker.ql-header {
	.ql-picker-label {
		text-align: left;
		padding-left: 0;
	}
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
	border: none;
}

.ql-editor {
	min-height: var(--tableTextareaHeight);
	max-height: calc(var(--tableTextareaHeight) * 1.5);
}

.ql-editor.ql-blank::before {
	color: var(--middleGrayColor);
}

.ql-snow .ql-tooltip {
	top: 0 !important;
	left: 0 !important;
}

.ql-editor iframe {
    width: 100%;
    height: auto;
    max-width: 800px !important; 
    margin: auto;
    aspect-ratio: 16 / 9; /* 비율 유지 (16:9 비율) */
}