<!DOCTYPE html>
<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
<head>
	<th:block th:insert="~{fragments/head.html :: head('게시판 관리')}"></th:block>
	<script type="text/javascript">
		$(async function() {
			const { sortType, sortValue, order, page } = setFormValuesFromUrl(); // 로드 시 현재 상태 쿼리스트링 체크
			switch(sortType) {
				case '2': // search
					await getSearchList(null, '/board/cate_info/search_board_category_list', page);
					break;

				case '0': // sort
					await getList('/board/cate_info/get_category_list', sortValue, order, page);
					break;
					
				default:
					await getList('/board/cate_info/get_category_list', null, null, page);
			}
        });
	</script>
</head>

<body>
	<main class="contents_wrap">
		<header th:replace="~{fragments/header.html :: header}"></header>
	
		<article class="contents_container">
			<nav th:replace="~{fragments/nav.html :: nav}"></nav>
			
			<div class="content">
                <div class="content_inner sc">
					<section class="content_info_wrap">
					    <div class="content_top">
					        <div class="content_top_info">
					            <h2 class="title">게시판 관리</h2>
					            
					            <div class="content_top_right">
									<form name="search_form" onsubmit="getSearchList(event, '/board/cate_info/search_board_category_list')" 
										th:insert="~{fragments/search.html :: search('게시판 관리')}"></form>
						            
						            <div class="btn_list">
						            	<div class="btns small" onclick="getList('/board/cate_info/get_category_list', null, null, 1);">전체보기</div>
						            	<a href="/board/cate_info/create_category_form" class="btns small">등록</a>
						            </div>
					            </div>
					        </div>
					    </div>
					    
					    <div class="table_wrap">
	                        <table class="content_table board_list_table">
	                            <colgroup>
	                                <col class="col_no">
	                                <col class="col_no">
	                                <col>
	                                <col>
	                                <col>
	                            </colgroup>
	
	                            <thead>
	                                <tr>
	                                	<th></th>
	                                    
	                                    <th>
	                                    	<p class="table_title">순번</p>
	                                    </th>
	                                    
	                                    <th>
	                                        <p class="table_title">분류</p>
	                                    </th>
	                                    
	                                    <th>
	                                        <p class="table_title">게시물 수</p>
	                                    </th>
	                                    
	                                    <th>
	                                        <p class="table_title">등록일</p>
	                                    </th>
	                                </tr>
	                            </thead>
	
	                            <tbody>
	                                <!-- 리스트 테이블 -->
	                            </tbody>
	                        </table>
	                        
	                        <div class="pagination_wrap"></div>
	                    </div>
					</section>
                </div>
            </div>
		</article>
	</main>
</body>
</html>