<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head>
    <th:block th:insert="~{fragments/head.html :: head('게시물 수정')}"></th:block>
    <script th:inline="javascript">
		$(function() {
			// 타이틀 설정
			setBoardTitle(/*[[${infoNo}]]*/);
        });
	</script>
</head>

<body>
	<main class="contents_wrap">
	    <header th:replace="~{fragments/header.html :: header}"></header>
	
	    <article class="contents_container">
	        <nav th:replace="~{fragments/nav.html :: nav}"></nav>
	
	        <div class="content">
	            <div class="content_inner sc">
	                <section class="content_info_wrap">
	                    <div class="content_top">
	                        <div class="content_top_info">
	                            <h2 class="title categoty_title"></h2>
	                        </div>
	                        <p class="sub_title">게시물 수정</p>
	                    </div>
	
	                    <form name="posts_modify_form">
		                    <input type="hidden" name="bp_no" th:value="${boardPostsDto.bp_no}">
		                    <input type="hidden" name="bp_dir_name" th:if="${boardPostsDto.bp_dir_name}" th:value="${boardPostsDto.bp_dir_name}">
		                    <input type="hidden" name="bp_category_no" th:value="${infoNo}">
		                    <input type="hidden" name="bp_writer_no" th:value="${boardPostsDto.bp_writer_no}">
		                    
	                        <div class="table_wrap">
	                            <table class="content_edit_table">
	                                <colgroup>
	                                    <col class="col_row_title">
	                                    <col>
	                                    <col class="col_row_title">
	                                    <col>
	                                </colgroup>
	
	                                <tbody>
		                                <tr>
	                                        <th><p class="table_title">제목</p></th>
		                                	<td th:classappend="${
				                               		!#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') and
				                               		(boardPostsDto.bp_account == 'admin' and boardPostsDto.adminAccountDto.a_id != #authentication.name) ?
				                               		'disabled' : ''
			                                	}"
		                                		colspan="3">
		                                		<input type="text" name="bp_title" id="bp_title" class="table_info" placeholder="제목"
		                                			onblur="validateEmpty(this, '제목을')"
		                                			th:value="${boardPostsDto.bp_title}"
		                                			th:disabled="${
					                               		!#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') and
					                               		(boardPostsDto.bp_account == 'admin' and boardPostsDto.adminAccountDto.a_id !=  #authentication.name)
				                                	}">
	                                        </td>
		                                </tr>
		                                
		                                <tr>
		                                	<th><p class="table_title">등록일<span class="divider"></span>수정일</p></th>
	                                        <td colspan="3" class="disabled">
	                                        	<p class="table_info" th:utext="|
	                                        		${boardPostsDto.bp_reg_date}
	                                        		<span class='divider'></span>
	                                        		${boardPostsDto.bp_mod_date}
	                                        	|"></p>
	                                        </td>
		                                </tr>
		                                
		                                <tr>
		                                	<th><p class="table_title">작성자 아이디</p></th>
		                                	<td class="disabled">
		                                		<div class="table_info table_flex_info">
		                                			<p class="info_text" th:text="${boardPostsDto.bp_writer_id}"></p>
	                                				<img src="/image/icons/manager.png" alt="관리자" class="table_info_icons"
	                                					th:if="${boardPostsDto.bp_account == 'admin'}">
		                                		</div>
	                                        </td>
	                                        
	                                        <th>	                                        	
	                                        	<p th:if="${boardPostsDto.bp_account == 'admin'}" class="table_title">이름</p>
	                                        	<p th:if="${boardPostsDto.bp_account != 'admin'}" class="table_title">이름<span class='divider'></span>닉네임</p>
	                                        </th>
		                                	<td class="disabled">
		                                		<p th:if="${boardPostsDto.bp_account == 'admin'}" class="table_info" th:text="${boardPostsDto.adminAccountDto.a_name}"></p>
	                                        	<p th:if="${boardPostsDto.bp_account != 'admin'}" class="table_info" th:utext="|
	                                        		${boardPostsDto.userAccountDto.u_name}
	                                        		<span class='divider'></span>
	                                        		${boardPostsDto.userAccountDto.u_nickname}
	                                        	|"></p>
	                                        </td>
		                                </tr>
		                                
		                                <tr>
		                                	<th>
		                                		<p class="table_title">
		                                			내용
			                                		<span id="guideline">
			                                			영상: 최대 5개
			                                			<br>이미지: 최대 10개
			                                			<br>이미지별 최대 용량: 2MB
			                                			<br>삽입 가능
		                                			</span>
		                                		</p>
		                                	</th>
		                                	
		                                	<td colspan="3">
		                                		<th:block th:if="${
				                               		!#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') and
				                               		(boardPostsDto.bp_account == 'admin' and boardPostsDto.adminAccountDto.a_id !=  #authentication.name)
			                                	}">
			                                		<div class="ql-editor" th:utext="${boardPostsDto.bp_body}"></div>
		                                		</th:block>
		                                		
		                                		<th:block th:unless="${
				                               		!#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') and
				                               		(boardPostsDto.bp_account == 'admin' and boardPostsDto.adminAccountDto.a_id !=  #authentication.name)
			                                	}">
		                                			<div id="editor" th:utext="${boardPostsDto.bp_body}"></div>
		                                			<div id="text_limit">
		                                				<span id="current_size"></span> / <span id="max_size"></span>
		                                			</div>
	                                			</th:block>
	                                        </td>
		                                </tr>
		                            </tbody>
	                            </table>
	
	                            <div th:classappend="${
	                               		!#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') and
	                               		(boardPostsDto.bp_account == 'admin' and boardPostsDto.adminAccountDto.a_id !=  #authentication.name) ?
	                               		'f_jc_right' : ''
                                	}" class="btn_list">
                                	
	                            	<div th:if="${
											#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') or
											boardPostsDto.bp_account == 'user' or 
											(boardPostsDto.bp_account == 'admin' and boardPostsDto.adminAccountDto.a_id ==  #authentication.name)
										}"
										th:onclick="delListData('bp_no')" 
		                        		class="btns delete">삭제</div>
		                        		 
	                                <div class="btn_list">
	                                    <a href="javascript: history.back();" class="btns cancel">뒤로가기</a>
	                                    
	                                    <div th:if="${
	                                    		#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') or
		                                    	boardPostsDto.bp_account == 'user' or 
		                                    	(boardPostsDto.bp_account == 'admin' and boardPostsDto.adminAccountDto.a_id ==  #authentication.name)
	                                    	}"
	                                    	onclick="putPostsModify('posts_modify_form')" class="btns">수정</div>
	                                </div>
	                            </div>
	                        </div>
	                    </form>
	                </section>
	            </div>
	        </div>
	    </article>
	</main>
</body>
</html>
