<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head>
    <th:block th:insert="~{fragments/head.html :: head('공지 사항 수정')}"></th:block>
    <script th:inline="javascript">
    	logger.info('dto check noticeDto --->', /*[[${noticeDto}]]*/);
    	
		$(function() {
			// 가이드라인 설정
			setSelectGuidelineInfo();
		});
    </script>
</head>

<body>
	<main class="contents_wrap">
	    <header th:replace="~{fragments/header.html :: header}"></header>
	
	    <article class="contents_container">
	        <nav th:replace="~{fragments/nav.html :: nav}"></nav>
	
	        <div class="content">
	            <div class="content_inner sc">
	                <section class="content_info_wrap">
	                    <div class="content_top">
	                        <div class="content_top_info">
	                            <h2 class="title">전체 공지 사항</h2>
	                        </div>
	                        <p class="sub_title">공지 사항 수정</p>
	                    </div>
	
	                    <form name="notice_modify_form">
		                    <input type="hidden" name="n_no" th:value="${noticeDto.n_no}">
		                    <input type="hidden" name="n_writer_no" th:value="${noticeDto.adminAccountDto.a_no}">
		                    <input type="hidden" name="n_dir_name" th:if="${noticeDto.n_dir_name}" th:value="${noticeDto.n_dir_name}">
		                    
	                        <div class="table_wrap">
	                            <table class="content_edit_table">
	                                <colgroup>
	                                    <col class="col_row_title">
	                                    <col>
	                                    <col class="col_row_title">
	                                    <col>
	                                </colgroup>
	
	                                <tbody>
	                                	<tr>
	                                		<th><p class="table_title">공개 설정</th>
	                                        <td>
		                                    	<div class="table_info">
	                                            	<label class="radio">
	                                            		<input type="radio" name="n_state"value="true" th:checked="${noticeDto.n_state == true}"> 공개
	                                            	</label>
	                                            	<label class="radio">
	                                            		<input type="radio" name="n_state" value="false" th:checked="${noticeDto.n_state == false}"> 숨김
	                                            	</label>
	                                            </div>
		                                    </td>
	                                        
		                                	<th><p class="table_title">등록일<span class="divider"></span>수정일</p></th>
	                                        <td class="disabled">
	                                        	<p class="table_info" th:utext="|
	                                        		${noticeDto.n_reg_date}
	                                        		<span class='divider'></span>
	                                        		${noticeDto.n_mod_date}
	                                        	|"></p>
	                                        </td>
		                                </tr>
		                                
		                                <tr>
	                                        <th><p class="table_title">제목</p></th>
		                                	<td th:classappend="${
				                               		!#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') and
				                               		(noticeDto.adminAccountDto.a_id != #authentication.name) ?
				                               		'disabled' : ''
			                                	}"
		                                		colspan="3">
		                                		<label class="table_info">
			                                		<input type="text" name="n_title" id="n_title" placeholder="제목"
			                                			onblur="validateEmpty(this, '제목')"
			                                			th:value="${noticeDto.n_title}"
			                                			th:disabled="${
						                               		!#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') and
						                               		(noticeDto.adminAccountDto.a_id !=  #authentication.name)
					                                	}">
		                                		</label>
	                                        </td>
		                                </tr>
		                                
		                                <tr>
		                                	<th><p class="table_title">작성자 아이디</p></th>
		                                	<td class="disabled">
		                                		<div class="table_info table_flex_info">
		                                			<p class="info_text" th:text="${noticeDto.adminAccountDto.a_id}"></p>
		                                		</div>
	                                        </td>
	                                        
	                                        <th><p class="table_title">이름</p></th>
		                                	<td class="disabled">
		                                		<p class="table_info" th:text="${noticeDto.adminAccountDto.a_name}"></p>
	                                        </td>
		                                </tr>
		                                
		                                <tr>
		                                	<th>
		                                		<p class="table_title">
		                                			내용
			                                		<span id="guideline"></span>
		                                		</p>
		                                	</th>
		                                	
		                                	<td colspan="3">
		                                		<th:block th:if="${
				                               		!#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') and
				                               		(noticeDto.adminAccountDto.a_id !=  #authentication.name)
			                                	}">
			                                		<div class="ql-editor" th:utext="${noticeDto.n_body}"></div>
		                                		</th:block>
		                                		
		                                		<th:block th:unless="${
				                               		!#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') and
				                               		(noticeDto.adminAccountDto.a_id !=  #authentication.name)
			                                	}">
		                                			<div id="editor" th:utext="${noticeDto.n_body}"></div>
		                                			
		                                			<div class="table_info">
			                                			<div id="text_limit">
			                                				<span id="current_size"></span> / <span id="max_size"></span>
			                                			</div>
		                                			</div>
	                                			</th:block>
	                                        </td>
		                                </tr>
		                            </tbody>
	                            </table>
	
	                            <div th:classappend="${
	                               		!#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') and
	                               		(noticeDto.adminAccountDto.a_id !=  #authentication.name) ?
	                               		'f_jc_right' : ''
                                	}" class="btn_list">
                                	
	                            	<div th:if="${
											#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') or
											(noticeDto.adminAccountDto.a_id ==  #authentication.name)
										}"
										th:onclick="delSingleData(
											'공지 사항',
											'n_no',
											[[${noticeDto.n_no}]])" class="btns delete">삭제</div>
		                        		 
	                                <div class="btn_list">
	                                    <a href="javascript: history.back();" class="btns cancel">뒤로가기</a>
	                                    
	                                    <div th:if="${
	                                    		#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') or
		                                    	(noticeDto.adminAccountDto.a_id ==  #authentication.name)
	                                    	}"
	                                    	onclick="putNoticeModify('notice_modify_form')" class="btns">수정</div>
	                                </div>
	                            </div>
	                        </div>
	                    </form>
	                </section>
	            </div>
	        </div>
	    </article>
	</main>
</body>
</html>
