<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.see_nior.seeniorAdmin.board.mapper.BoardMapper">

	<resultMap type="BoardCategoryDto" id="BoardCategoryDto">
		<result column="bc_no" property="bc_no" />
		<result column="bc_name" property="bc_name" />		
		<result column="bc_idx" property="bc_idx" />
		<result column="bc_is_deleted" property="bc_is_deleted" />
		<result column="bc_reg_date" property="bc_reg_date" />
		<result column="bc_mod_date" property="bc_mod_date" />
	</resultMap>
	
	<resultMap type="BoardPostsDto" id="BoardPostsDto">
		<result column="bp_no" property="bp_no" />
		<result column="bp_category_no" property="bp_category_no" />		
		<result column="bp_title" property="bp_title" />
		<result column="bp_body" property="bp_body" />
		<result column="bp_writer_no" property="bp_writer_no" />
		<result column="bp_report_state" property="bp_report_state" />
		<result column="bp_view_cnt" property="bp_view_cnt" />
		<result column="bp_dir_name" property="bp_dir_name" />
		<result column="bp_is_deleted" property="bp_is_deleted" />
		<result column="bp_reg_date" property="bp_reg_date" />
		<result column="bp_mod_date" property="bp_mod_date" />
	</resultMap>

	<select id="getList" resultType="com.see_nior.seeniorAdmin.dto.BoardCategoryDto">
	
		SELECT 
			* 
		FROM 
			BOARD_CATEGORY
		WHERE
			BC_IS_DELETED = 1
		ORDER BY 
			BC_IDX 
		ASC
	
	</select>
	
	<select id="getBoardCategoryIdxMaxNum" resultType="com.see_nior.seeniorAdmin.dto.BoardCategoryDto">
	
		SELECT 
			* 
		FROM 
			BOARD_CATEGORY 
		WHERE 
			BC_IS_DELETED = 1 
		ORDER BY 
			BC_IDX DESC 
		LIMIT 
			0,1
	
	</select>
	
	<select id="isBoardCategory" parameterType="String" resultType="boolean">
	
		SELECT 
			count(*) 
		FROM 
			BOARD_CATEGORY 
		WHERE 
			BC_NAME = #{bc_name} 
		AND 
			BC_IS_DELETED = 1
		
	</select>
	
	<update id="updateBoardCategoryIdx" parameterType="int">
        UPDATE 
        	BOARD_CATEGORY
        SET 
        	BC_IDX = BC_IDX + 1
        WHERE 
        	BC_IDX >= #{bc_idx}
    </update>
    
    <insert id="createBoardCategory" >
        INSERT INTO 
        	BOARD_CATEGORY (BC_IDX, BC_NAME)
        VALUES 
        	(#{bc_idx}, #{bc_name})
    </insert>
    
    <select id="getBoardCategoryForModify" parameterType="int" resultType="com.see_nior.seeniorAdmin.dto.BoardCategoryDto">
    
    	SELECT 
    		* 
    	FROM 
    		BOARD_CATEGORY 
    	WHERE 
    		BC_NO = #{bc_no} 
    	AND 
    		BC_IS_DELETED = 1
    
    </select>
    
    <select id="selectCountBoardPostsByBcNo" parameterType="int" resultType="int">
    	
    	SELECT 
    		COUNT(*) 
    	FROM 
    		BOARD_POSTS 
    	WHERE 
    		BP_CATEGORY_NO = #{bc_no} 
    	AND 
    		BP_IS_DELETED = 1
    	
    </select>
    
    <update id="updateBoardCategoryForBcItemCntByBcNo" parameterType="int" >
    	UPDATE 
    		BOARD_CATEGORY 
    	SET 
    		BC_ITEM_CNT = #{bc_item_cnt} 
    	WHERE 
    		BC_NO = #{bc_no}
    </update>
    
    <insert id="createConfirm" parameterType="com.see_nior.seeniorAdmin.dto.BoardPostsDto">
    	
    	INSERT INTO
    		BOARD_POSTS(BP_CATEGORY_NO,BP_TITLE,BP_BODY,BP_WRITER_NO,BP_DIR_NAME) 
    	VALUES
    		(#{bp_category_no},#{bp_title},#{bp_body},#{bp_writer_no},#{bp_dir_name})
    	
    </insert>
    
    <select id="getBoardPostsListWithPage" parameterType="Object">
    
    	SELECT 
			*
		FROM 
		    BOARD_POSTS
		WHERE
			BP_CATEGORY_NO = #{bp_category_no}
		AND
		    BP_IS_DELETED = 1 
    	ORDER BY 
     		#{sortValue} #{order} 
		LIMIT 
			#{start}, #{limit}
    
    </select>
    
    <select id="getBoardPostsByCategoryCnt" parameterType="int">
    
    	SELECT 
			COUNT(*) 
		FROM 
			BOARD_POSTS 
		WHERE 
			BP_CATEGORY_NO = #{bp_category_no}			
		AND 
			BP_IS_DELETED = 1 
    
    </select>

</mapper>