<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.see_nior.seeniorAdmin.disease.mapper.DiseaseMapper">

	<resultMap type="DiseaseCategoryDto" id="DiseaseCategoryDto">
		<result column="dc_no" property="dc_no" />
		<result column="dc_name" property="dc_name" />
		
		<!-- 임의로 추가된 필드. 직렬화나 역직렬화 시에는 무시하게 설정하였음 -->
		<!-- 
		<result column="dc_name" property="dc_name" />
		 -->
		
		
		<result column="dc_is_deleted" property="dc_is_deleted" />
		<result column="dc_reg_date" property="dc_reg_date" />
		<result column="dc_mod_date" property="dc_mod_date" />
	</resultMap>

	<resultMap type="DiseaseDto" id="DiseaseDto">
		<result column="d_no" property="d_no" />
		<result column="d_category_no" property="d_category_no" />
		<result column="d_name" property="d_name" />
		<result column="d_info" property="d_info" />
		<result column="d_good_food" property="d_good_food" />
		<result column="d_bad_food" property="d_bad_food" />
		<result column="d_is_deleted" property="d_is_deleted" />
		<result column="d_reg_date" property="d_reg_date" />
		<result column="d_mod_date" property="d_mod_date" />
		<collection property="diseaseCategoryDto" resultMap="DiseaseCategoryDto" />
	</resultMap>
	
	<!-- 질환 카테고리 관련 -->

	<!-- 질환 카테고리 등록 -->
	<insert id="insertNewDiseaseCategory">
	
		INSERT INTO 
			DISEASE_CATEGORY 
			(DC_NAME) 
		VALUES
			(#{dc_name})
	
	</insert>
	
	<!-- 질환 카테고리 중복 확인 -->
	<select id="isDiseaseCategory"
			parameterType="String"
			resultType="boolean">
			
			SELECT 
				COUNT(*) 
			FROM 
				DISEASE_CATEGORY 
			WHERE 
				DC_NAME = #{dc_name}
	
	</select>
	
	<!-- 모든 질환 카테고리 가져오기 (질환 리스트에서 select박스 => 비동기) -->
	<select id="getDiseaseCategoryList"
			resultMap="DiseaseCategoryDto">
	
			SELECT 
				* 
			FROM 
				DISEASE_CATEGORY 
			WHERE 
				DC_IS_DELETED = 1 
			ORDER BY 
				DC_NO DESC
	
	</select>
	
	<!-- 모든 질환 카테고리 가져오기(페이지네이션 => 질환 카테고리 관리용 => 비동기) -->
	<select id="getDiseaseCategoryListWithPage">
	
			SELECT 
				* 
			FROM 
				DISEASE_CATEGORY 
			WHERE 
				DC_IS_DELETED = 1 
			<choose>
				<when test="sort == 'all'">
					ORDER BY DC_NO DESC				
				</when>
				<when test="sort == 'dc_name_asc'">
					ORDER BY DC_NAME ASC				
				</when>
				<when test="sort == 'dc_name_desc'">
					ORDER BY DC_NAME DESC				
				</when>			
			</choose>
			LIMIT 
				#{start}, #{limit}
	
	</select>
	
	
	<!-- 질환 카테고리의 총 리스트 개수 구하기 -->
	<select id="getAllDiseaseCategoryCnt">
	
			SELECT 
				COUNT(*) 
			FROM 
				DISEASE_CATEGORY 
			WHERE 
				DC_IS_DELETED = 1
	
	</select>
	
	<!-- 질환 카테고리 한개 가져오기 -->
	<select id="getDiseaseCategory"
			resultMap="DiseaseCategoryDto">
			
			SELECT 
				* 
			FROM 
				DISEASE_CATEGORY 
			WHERE 
				DC_NO = #{dc_no} 
			
	</select>
	
	<!-- 질환 카테고리 수정 -->
	<update id="updateDiseaseCategory">
	
			UPDATE 
				DISEASE_CATEGORY 
			SET 
				DC_NAME = #{dc_name}, 
				DC_MOD_DATE = NOW() 
			WHERE 
				DC_NO = #{dc_no}
	
	</update>
	
	<!-- 질환 카테고리 삭제 -->
	<update id="deleteDiseaseCategory">
	
		UPDATE 
			DISEASE_CATEGORY DC 
		LEFT JOIN 
			DISEASE D 
		ON 
			DC.DC_NO = D.D_CATEGORY_NO 
		SET 
			DC.DC_IS_DELETED = 0, D.D_IS_DELETED = 0 
		WHERE 
			DC.DC_NO = #{dc_no}
	
	</update>
	
	<!-- 질환  관련 -->
	
	<!-- 질환 등록 -->
	<insert id="insertNewDisease">
	
		INSERT INTO 
			DISEASE 
			(D_CATEGORY_NO, D_NAME, D_INFO, D_GOOD_FOOD, D_BAD_FOOD) 
		VALUES 
			(#{d_category_no}, #{d_name}, #{d_info}, #{d_good_food}, #{d_bad_food})
	
	</insert>
	
	<!-- 질환 중복 확인 -->
	<select id="isDisease"
			parameterType="String"
			resultType="boolean">
			
			SELECT 
				COUNT(*) 
			FROM 
				DISEASE 
			WHERE 
				D_NAME = #{d_name}
	
	</select>
	
	<!-- 모든 질환 가져오기 -->
	<select id="getDiseaseList"
			resultMap="DiseaseDto">
		
			SELECT 
				D.*, 
				DC.DC_NAME 
			FROM 
			    DISEASE D 
			JOIN 
			    DISEASE_CATEGORY DC 
			ON 
			    D.D_CATEGORY_NO = DC.DC_NO 
			WHERE 
			    D.D_IS_DELETED = 1 
			ORDER BY 
				D_NO DESC 
	
	</select>
	
	<!-- 페이지에 따른 질환 가져오기(모든 질환) -->
	<select id="getDiseaseListWithPage"
			resultMap="DiseaseDto">
			
			SELECT 
				D.*, 
				DC.DC_NAME 
			FROM 
			    DISEASE D 
			JOIN 
			    DISEASE_CATEGORY DC 
			ON 
			    D.D_CATEGORY_NO = DC.DC_NO 
			WHERE 
			    D.D_IS_DELETED = 1 
			ORDER BY 
				D_NO DESC 
			LIMIT 
				#{start}, #{limit}
	
	</select>
	
	<!-- 질환의 총 리스트 개수 구하기(모든 질환) -->
	<select id="getAllDiseaseCnt">
	
			SELECT 
				COUNT(*) 
			FROM 
				DISEASE 
			WHERE 
				D_IS_DELETED = 1
	
	</select>
	
	<!-- 페이지에 따른 질환 가져오기(카테고리별 질환) -->
	<select id="getDiseaseListByCategoryWithPage"
			resultMap="DiseaseDto">
			
			SELECT 
				D.*, 
				DC.DC_NAME 
			FROM 
			    DISEASE D 
			JOIN 
			    DISEASE_CATEGORY DC 
			ON 
			    D.D_CATEGORY_NO = DC.DC_NO 
			WHERE 
			    D.D_IS_DELETED = 1 
			AND 
				D.D_CATEGORY_NO = #{d_category_no} 
			ORDER BY 
				D_NO DESC 
			LIMIT 
				#{start}, #{limit}
	
	</select>
	
	<!-- 질환의 총 리스트 개수 구하기(카테고리별 질환) -->
	<select id="getDiseaseByCategoryCnt">
	
			SELECT 
				COUNT(*) 
			FROM 
				DISEASE 
			WHERE 
				D_IS_DELETED = 1 
			AND 
				D_CATEGORY_NO = #{d_category_no}
	
	</select>
	
	<!-- 질환 한개 가져오기 -->
	<select id="getDiseaseByNo"
			resultMap="DiseaseDto">
			
			SELECT 
				* 
			FROM 
				DISEASE 
			WHERE 
				D_NO = #{d_no}
	
	</select>
	
	<!-- 질환 수정 -->
	<update id="updateDisease">
	
			UPDATE 
				DISEASE 
			SET 
				D_CATEGORY_NO = #{d_category_no}, 
				D_NAME = #{d_name}, 
				D_INFO = #{d_info}, 
				D_GOOD_FOOD = #{d_good_food}, 
				D_BAD_FOOD = #{d_bad_food}, 
				D_MOD_DATE = NOW() 
			WHERE 
				D_NO = #{d_no}
	
	</update>
	
	<!-- 질환 삭제 -->
	<update id="deleteDisease">
	
			UPDATE 
				DISEASE 
			SET 
				D_IS_DELETED = 0 
			WHERE 
				D_NO = #{d_no}
	
	</update>
	
	<!-- 질환 검색 -->
	<select id="searchDiseaseByName"
			parameterType="String"
			resultMap="DiseaseDto">
			
			SELECT 
				D.*, 
				DC.DC_NAME  
			FROM 
				DISEASE D  
			JOIN 
				DISEASE_CATEGORY DC 
			WHERE 
				D.D_CATEGORY_NO = DC.DC_NO 
			AND 
				D.D_IS_DELETED = 1 
			AND 
				D.D_NAME LIKE CONCAT('%', #{searchString}, '%')
								
	
	</select>


</mapper>