<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.see_nior.seeniorAdmin.report.mapper.ReportMapper">

	<resultMap type="AdminAccountDto" id="AdminAccountDto">
		<id column="a_no" property="a_no" />
		<result column="a_id" property="a_id" />
		<result column="a_pw" property="a_pw" />
		<result column="a_name" property="a_name" />
		<result column="a_phone" property="a_phone" />
		<result column="a_birth" property="a_birth" />
		<result column="a_department" property="a_department" />
		<result column="a_level" property="a_level" />
		<result column="a_position" property="a_position" />
		<result column="a_authority_role" property="a_authority_role" />
		<result column="a_isaccountnonexpired" property="a_isaccountnonexpired" />
		<result column="a_isaccountnonlocked" property="a_isaccountnonlocked" />
		<result column="a_iscredentialsnonexpired" property="a_iscredentialsnonexpired" />
		<result column="a_isenabled" property="a_isenabled" />
		<result column="a_is_deleted" property="a_is_deleted" />
		<result column="a_mod_date" property="a_mod_date" />
		<result column="a_reg_date" property="a_reg_date" />
	</resultMap>

	<resultMap type="UserAccountDto" id="UserAccountDto">
		<id column="u_no" property="u_no"/>
		<result column="u_id" property="u_id"/>
		<result column="u_pw" property="u_pw"/>
		<result column="u_name" property="u_name"/>
		<result column="u_phone" property="u_phone"/>
		<result column="u_nickname" property="u_nickname"/>
		<result column="u_gender" property="u_gender"/>
		<result column="u_birth" property="u_birth"/>
		<result column="u_zip_code" property="u_zip_code"/>
		<result column="u_address" property="u_address"/>
		<result column="u_detailed_address" property="u_detailed_address"/>
		<result column="u_profile_img" property="u_profile_img"/>
		<result column="u_company" property="u_company"/>
		<result column="u_is_personal" property="u_is_personal"/>
		<result column="u_social_id" property="u_social_id"/>
		<result column="u_is_blocked" property="u_is_blocked"/>
		<result column="u_blocked_reason" property="u_blocked_reason"/>
		<result column="u_isaccountnonexpired" property="u_isaccountnonexpired"/>
		<result column="u_isaccountnonlocked" property="u_isaccountnonlocked"/>
		<result column="u_iscredentialsnonexpired" property="u_iscredentialsnonexpired"/>
		<result column="u_isenabled" property="u_isenabled"/>
		<result column="u_is_deleted" property="u_is_deleted"/>
		<result column="u_reg_date" property="u_reg_date"/>
		<result column="u_mod_date" property="u_mod_date"/>
	</resultMap>
	
	<resultMap type="BoardPostsDto" id="BoardPostsDto">
		<id column="bp_no" property="bp_no" />
		<result column="bp_category_no" property="bp_category_no" />		
		<result column="bp_title" property="bp_title" />
		<result column="bp_body" property="bp_body" />
		<result column="bp_writer_no" property="bp_writer_no" />
		<result column="bp_writer_id" property="bp_writer_id" />
		<result column="bp_account" property="bp_account" />
		<result column="bp_report_state" property="bp_report_state" />
		<result column="bp_view_cnt" property="bp_view_cnt" />
		<result column="bp_dir_name" property="bp_dir_name" />
		<result column="bp_reply_cnt" property="bp_reply_cnt" />
		<result column="bp_is_deleted" property="bp_is_deleted" />
		<result column="bp_reg_date" property="bp_reg_date" />
		<result column="bp_mod_date" property="bp_mod_date" />
		<collection property="adminAccountDto" resultMap="AdminAccountDto" />
		<collection property="userAccountDto" resultMap="UserAccountDto" />
	</resultMap>

	<resultMap type="ReportCategoryDto" id="ReportCategoryDto">
		<id column="brc_no" property="brc_no"></id>
		<result column="brc_name" property="brc_name"></result>
		<result column="brc_is_deleted" property="brc_is_deleted"></result>
		<result column="brc_item_cnt" property="brc_item_cnt"></result>
		<result column="brc_reg_date" property="brc_reg_date"></result>
		<result column="brc_mod_date" property="brc_mod_date"></result>
		<result column="brc_unresulted_cnt" property="brc_unresulted_cnt"></result>
	</resultMap>
	
	<resultMap type="ReportResultDto" id="ReportResultDto">
		<id column="brr_no" property="brr_no"></id>
		<result column="brr_report_no" property="brr_report_no"></result>
		<result column="brr_result" property="brr_result"></result>
		<result column="brr_answer_a_no" property="brr_answer_a_no"></result>
		<result column="brr_is_deleted" property="brr_is_deleted"></result>
		<result column="brr_reg_date" property="brr_reg_date"></result>
		<result column="brr_mod_date" property="brr_mod_date"></result>
		<collection property="adminAccountDto" resultMap="AdminAccountDto" />
	</resultMap>
	
	<resultMap type="ReportDto" id="ReportDto">
		<id column="br_no" property="br_no"></id>
		<result column="br_category_no" property="br_category_no"></result>
		<result column="br_post_no" property="br_post_no"></result>
		<result column="br_title" property="br_title"></result>
		<result column="br_reason" property="br_reason"></result>
		<result column="br_reporter_no" property="br_reporter_no"></result>
		<result column="br_result_no" property="br_result_no"></result>
		<result column="br_state" property="br_state"></result>
		<result column="br_is_deleted" property="br_is_deleted"></result>
		<result column="br_reg_date" property="br_reg_date"></result>
		<result column="br_mod_date" property="br_mod_date"></result>
		<collection property="reportCategoryDto" resultMap="ReportCategoryDto" />
		<collection property="reportResultDto" resultMap="ReportResultDto" />
		<collection property="boardPostsDto" resultMap="BoardPostsDto" />
		<collection property="userAccountDto" resultMap="UserAccountDto" />
	</resultMap>
	
<!-- 신고 카테고리 관련 -->
	
	<!-- 신고 카테고리 중복 확인 -->
	<select id="isReportCategory"
			parameterType="String"
			resultType="boolean">
			
		SELECT 
			COUNT(*) 
		FROM 
			BOARD_REPORT_CATEGORY 
		WHERE 
			BRC_NAME = #{brc_name}
	
	</select>
	
	<!-- 신고 카테고리 등록 --> 
	<insert id="insertNewReportCategory"
			parameterType="ReportCategoryDto">
	
		INSERT INTO 
			BOARD_REPORT_CATEGORY 
			(BRC_NAME) 
		VALUES 
			(#{brc_name})
	
	</insert>
	
	<!-- 모든 신고 카테고리 가져오기 (신고 리스트에서 select박스 => 비동기) -->
	<select id="getReportCategoryList"
			resultMap="ReportCategoryDto">
	
		SELECT 
			* 
		FROM 
			BOARD_REPORT_CATEGORY 
		WHERE 
			BRC_IS_DELETED = 1 
		ORDER BY 
			BRC_NO DESC 
	
	</select>
	
	<!-- 모든 신고 카테고리 가져오기 (페이지네이션 => 신고 카테고리 관리용 => 비동기) -->
	<select id="getReportCategoryListWithPage"
			parameterType="Map"
			resultMap="ReportCategoryDto">

		SELECT 
			BRC.*, 
			IFNULL(BR_COUNTS.BRC_UNRESULTED_CNT, 0) AS BRC_UNRESULTED_CNT, 
			IFNULL(BR_COUNTS.BRC_ITEM_CNT, 0) AS BRC_ITEM_CNT 
		FROM 
			BOARD_REPORT_CATEGORY AS BRC 
		LEFT JOIN( 
			SELECT 
				BR.BR_CATEGORY_NO, 
				COUNT(*) AS BRC_ITEM_CNT, 
				COUNT(CASE WHEN BR.BR_IS_DELETED  = 1 AND BR.BR_RESULT_NO IS NULL THEN 1 END) AS BRC_UNRESULTED_CNT 
			FROM 
				BOARD_REPORT AS BR 
			WHERE 
				BR.BR_IS_DELETED = 1 
			GROUP BY 
				BR.BR_CATEGORY_NO
			) AS BR_COUNTS ON BRC.BRC_NO = BR_COUNTS.BR_CATEGORY_NO 
		WHERE 
			BRC.BRC_IS_DELETED = 1 
		ORDER BY 
			BRC.${sortValue} ${order} 
		LIMIT 
			#{start}, #{limit}
	
	</select>
	
	<!-- 신고 카테고리의 총 리스트 개수 구하기 -->
	<select id="getAllReportCategoryCnt"
			resultType="Integer">
	
		SELECT 
			COUNT(*) 
		FROM 
			BOARD_REPORT_CATEGORY 
		WHERE 
			BRC_IS_DELETED = 1
	
	</select>
	
	<!-- 신고 카테고리 한개 가져오기 -->
	<select id="getReportCategory"
			parameterType="Integer"
			resultMap="ReportCategoryDto">
	
		SELECT 
   			BRC.*, 
    		(SELECT 
    			COUNT(*) 
   			FROM 
   				BOARD_REPORT AS BR 
   			WHERE 
   				BR.BR_CATEGORY_NO = BRC.BRC_NO 
   			AND 
   				BR.BR_IS_DELETED = 1) AS BRC_ITEM_CNT 
		FROM 
			BOARD_REPORT_CATEGORY AS BRC 
		WHERE 
			BRC_NO = #{brc_no} 
	
	</select>
	
	<!-- 신고 카테고리 수정 -->
	<update id="updateReportCategory"
			parameterType="ReportCategoryDto">
			
		UPDATE 
			BOARD_REPORT_CATEGORY 
		SET 
			BRC_NAME = #{brc_name}, 
			BRC_MOD_DATE = NOW() 
		WHERE 
			BRC_NO = #{brc_no}
	
	</update>
	
	<!-- 신고 카테고리 삭제 -->
	<update id="deleteReportCategory"
			parameterType="Integer">
	
		UPDATE 
			BOARD_REPORT_CATEGORY 
		SET 
			BRC_IS_DELETED = 0, 
			BRC_MOD_DATE = NOW() 
		WHERE 
			BRC_NO = #{brc_no}
	
	</update>
	
	<!-- 페이지에 따른 신고 카테고리 가져오기(검색한 신고 카테고리) -->
	<select id="getSearchReportCategory"
			parameterType="Map"
			resultMap="ReportCategoryDto">
			
		SELECT 
			BRC.*, 
			IFNULL(BR_COUNTS.BRC_UNRESULTED_CNT, 0) AS BRC_UNRESULTED_CNT, 
			IFNULL(BR_COUNTS.BRC_ITEM_CNT, 0) AS BRC_ITEM_CNT 
		FROM 
			BOARD_REPORT_CATEGORY AS BRC 
		LEFT JOIN( 
			SELECT 
				BR.BR_CATEGORY_NO, 
				COUNT(*) AS BRC_ITEM_CNT, 
				COUNT(CASE WHEN BR.BR_IS_DELETED  = 1 AND BR.BR_RESULT_NO IS NULL THEN 1 END) AS BRC_UNRESULTED_CNT 
			FROM 
				BOARD_REPORT AS BR 
			WHERE 
				BR.BR_IS_DELETED = 1 
			GROUP BY 
				BR.BR_CATEGORY_NO
			) AS BR_COUNTS ON BRC.BRC_NO = BR_COUNTS.BR_CATEGORY_NO 
		WHERE 
			BRC.BRC_IS_DELETED = 1 
		AND 
			BRC.${searchPart} LIKE CONCAT('%', #{searchString}, '%')
		ORDER BY 
			BRC.${sortValue} ${order} 
		LIMIT 
			#{start}, #{limit}
	
	</select>
	
	<!-- 신고 카테고리의 총 페이지 개수 구하기(검색한 신고 카테고리) -->
	<select id="getSearchReportCategoryListCnt"
			parameterType="Map"
			resultType="Integer">
			
		SELECT 
			COUNT(*) 
		FROM 
			BOARD_REPORT_CATEGORY 
		WHERE 
			BRC_IS_DELETED = 1 
		AND 
			${searchPart} LIKE CONCAT('%', #{searchString}, '%')
	
	</select>
	
<!-- 신고 관련 -->

	<!-- 홈 화면에서 보여질 신고 가져오기 -->
	<select id="getReportListForMain"
			parameterType="Integer"
			resultMap="ReportDto">
			
		SELECT 
			BR.*, 
			BRC.*, 
			BRR.*, 
			U.U_NO, U.U_ID, U.U_NAME, U.U_NICKNAME 
		FROM 
			BOARD_REPORT AS BR 
		LEFT JOIN 
			BOARD_REPORT_CATEGORY AS BRC 
		ON 
			BR.BR_CATEGORY_NO = BRC.BRC_NO 
		LEFT JOIN 
			USER_ACCOUNT AS U 
		ON 
			BR.BR_REPORTER_NO = U.U_NO 
		LEFT JOIN 
			BOARD_REPORT_RESULT AS BRR 
		ON 
			BRR.BRR_NO = BR.BR_RESULT_NO 
		WHERE 
			BR.BR_IS_DELETED = 1 
		AND 
			BRC.BRC_IS_DELETED = 1 
		AND 
			BR.BR_STATE = 1 
		ORDER BY
			BR.BR_NO DESC
		LIMIT 
			0, #{page_limit}
	
	</select>
	
	<!-- 페이지 번호에 따른 신고 리스트들 가져오기 (모든 신고) -->
	<select id="getReportListWithPage"
			parameterType="Map"
			resultMap="ReportDto">
			
		SELECT 
			BR.*, 
			BRC.*, 
			BRR.*, 
			U.U_NO, U.U_ID, U.U_NAME, U.U_NICKNAME 
		FROM 
			BOARD_REPORT AS BR 
		LEFT JOIN 
			BOARD_REPORT_CATEGORY AS BRC 
		ON 
			BR.BR_CATEGORY_NO = BRC.BRC_NO 
		LEFT JOIN 
			USER_ACCOUNT AS U 
		ON 
			BR.BR_REPORTER_NO = U.U_NO 
		LEFT JOIN 
			BOARD_REPORT_RESULT AS BRR 
		ON 
			BRR.BRR_NO = BR.BR_RESULT_NO 
		WHERE 
			BR.BR_IS_DELETED = 1 
		AND 
			BRC.BRC_IS_DELETED = 1 
		ORDER BY
			BR.${sortValue} ${order} 
		LIMIT 
			#{start}, #{limit}
	
	</select>
	
	<!-- 신고의 총 리스트 개수 구하기 (모든 신고) -->
	<select id="getAllReportCnt"
			resultType="Integer">

		SELECT 
			COUNT(*) 
		FROM 
			BOARD_REPORT AS BR 
		JOIN 
			BOARD_REPORT_CATEGORY AS BRC 
		ON 
			BR.BR_CATEGORY_NO = BRC.BRC_NO 
		WHERE 
			BR.BR_IS_DELETED = 1 
		AND 
			BRC.BRC_IS_DELETED = 1
	
	</select>
	
	<!-- 처리되지 않은 신고의 개수 가져오기 (모든 신고) -->
	<select id="getUnresultedReportCnt"
			resultType="Integer">
		
		SELECT 
			COUNT(*) 
		FROM 
			BOARD_REPORT AS BR 
		JOIN 
			BOARD_REPORT_CATEGORY AS BRC 
		ON 
			BR.BR_CATEGORY_NO = BRC.BRC_NO 
		WHERE 
			BR.BR_IS_DELETED = 1 
		AND 
			BRC.BRC_IS_DELETED = 1 
		AND 
			BR.BR_STATE = 1 

	</select>
	
	<!-- 신고 한 개 가져오기 -->
	<select id="getReport"
			parameterType="Integer"
			resultMap="ReportDto">
			
		SELECT 
			BR.*, 
			BRC.*, 
			BRR.*, 
			BP.BP_CATEGORY_NO, 
			A.A_NO, A.A_ID, A.A_NAME, A.A_DEPARTMENT, A.A_LEVEL, A.A_POSITION, 
			U.U_NO, U.U_ID, U.U_NAME, U.U_NICKNAME 
		FROM 
			BOARD_REPORT AS BR 
		JOIN 
			BOARD_REPORT_CATEGORY AS BRC 
		ON 
			BR.BR_CATEGORY_NO = BRC.BRC_NO 
		JOIN 
			BOARD_POSTS AS BP 
		ON 
			BR.BR_POST_NO = BP.BP_NO 
		JOIN 
			USER_ACCOUNT AS U 
		ON 
			BR.BR_REPORTER_NO = U.U_NO 
		LEFT JOIN 
			BOARD_REPORT_RESULT AS BRR 
		ON 
			BR.BR_RESULT_NO = BRR.BRR_NO 
		LEFT JOIN 
			ADMIN_ACCOUNT AS A 
		ON 
			A.A_NO = BRR.BRR_ANSWER_A_NO 
		WHERE 
			BR.BR_IS_DELETED = 1 
		AND 
			BR.BR_NO = #{br_no}
	
	</select>
	
	<!-- 페이지 번호에 따른 신고 리스트들 가져오기 (카테고리 별 신고) -->
	<select id="getReportListByCategoryWithPage"
			parameterType="Integer"
			resultMap="ReportDto">
	
		SELECT 
			BR.*, 
			BRC.*, 
			BRR.*, 
			U.U_NO, U.U_ID, U.U_NAME, U.U_NICKNAME 
		FROM 
			BOARD_REPORT AS BR 
		LEFT JOIN 
			BOARD_REPORT_CATEGORY AS BRC 
		ON 
			BR.BR_CATEGORY_NO = BRC.BRC_NO 
		LEFT JOIN 
			USER_ACCOUNT AS U 
		ON 
			BR.BR_REPORTER_NO = U.U_NO 
		LEFT JOIN 
			BOARD_REPORT_RESULT AS BRR 
		ON 
			BRR.BRR_NO = BR.BR_RESULT_NO 
		WHERE 
			BR.BR_IS_DELETED = 1 
		AND 
			BRC.BRC_IS_DELETED = 1 
		AND 
			BR.BR_CATEGORY_NO = #{infoNo} 
		ORDER BY
			BR.${sortValue} ${order} 
		LIMIT 
			#{start}, #{limit}
	
	</select>
	
	<!-- 신고의 총 리스트 개수 구하기 (카테고리별 신고) -->
	<select id="getReportCntByCategory"
			resultType="Integer">

		SELECT 
			COUNT(*) 
		FROM 
			BOARD_REPORT AS BR 
		JOIN 
			BOARD_REPORT_CATEGORY AS BRC 
		ON 
			BR.BR_CATEGORY_NO = BRC.BRC_NO 
		WHERE 
			BR.BR_IS_DELETED = 1 
		AND 
			BRC.BRC_IS_DELETED = 1 
		AND 
			BR.BR_CATEGORY_NO = #{infoNo}
	
	</select>
	
	<!-- 처리되지 않은 신고의 개수 가져오기 (카테고리별 신고) -->
	<select id="getUnresultedReportCntByCategory"
			resultType="Integer">
			
		SELECT 
			COUNT(*) 
		FROM 
			BOARD_REPORT AS BR 
		JOIN 
			BOARD_REPORT_CATEGORY AS BRC 
		ON 
			BR.BR_CATEGORY_NO = BRC.BRC_NO 
		WHERE 
			BR.BR_IS_DELETED = 1 
		AND 
			BRC.BRC_IS_DELETED = 1 
		AND 
			BR.BR_STATE = 1 
		AND 
			BR.BR_CATEGORY_NO = #{infoNo}
	
	</select>
	
	<!-- 페이지 번호에 따른 신고 리스트들 가져오기 (검색한 신고) -->
	<select id="getSearchReport"
			parameterType="Map"
			resultMap="ReportDto">
	
		SELECT 
			BR.*, 
			BRC.*, 
			BRR.*, 
			U.U_NO, U.U_ID, U.U_NAME, U.U_NICKNAME 
		FROM 
			BOARD_REPORT AS BR 
		LEFT JOIN 
			BOARD_REPORT_CATEGORY AS BRC 
		ON 
			BR.BR_CATEGORY_NO = BRC.BRC_NO 
		LEFT JOIN 
			USER_ACCOUNT AS U 
		ON 
			BR.BR_REPORTER_NO = U.U_NO 
		LEFT JOIN 
			BOARD_REPORT_RESULT AS BRR 
		ON 
			BRR.BRR_NO = BR.BR_RESULT_NO 
		WHERE 
			BR.BR_IS_DELETED = 1 
		AND 
			BRC.BRC_IS_DELETED = 1 
		<if test="searchPart != null and searchString != null">
			<choose>
				<when test="searchPart == 'u_id'">
					AND 
						U.U_ID LIKE CONCAT('%', #{searchString}, '%')
				</when>
				<when test="searchPart == 'u_name'">
					AND 
						U.U_NAME LIKE CONCAT('%', #{searchString}, '%')
				</when>
				<otherwise>
					AND 
						BR.${searchPart} LIKE CONCAT('%', #{searchString}, '%')
				</otherwise>
			</choose>
		</if>
		ORDER BY
			BR.${sortValue} ${order} 
		LIMIT 
			#{start}, #{limit}
	
	</select>
	
	<!-- 신고의 총 리스트 개수 구하기 (검색한 신고) -->
	<select id="getSearchReportListCnt"
			resultType="Integer">

		SELECT 
			COUNT(*) 
		FROM 
			BOARD_REPORT AS BR 
		JOIN 
			BOARD_REPORT_CATEGORY AS BRC 
		ON 
			BR.BR_CATEGORY_NO = BRC.BRC_NO 
		LEFT JOIN 
			USER_ACCOUNT AS U 
		ON 
			BR.BR_REPORTER_NO = U.U_NO 
		WHERE 
			BR.BR_IS_DELETED = 1 
		AND 
			BRC.BRC_IS_DELETED = 1 
		<if test="searchPart != null and searchString != null">
			<choose>
				<when test="searchPart == 'u_id'">
					AND 
						U.U_ID LIKE CONCAT('%', #{searchString}, '%')
				</when>
				<when test="searchPart == 'u_name'">
					AND 
						U.U_NAME LIKE CONCAT('%', #{searchString}, '%')
				</when>
				<otherwise>
					AND 
						BR.${searchPart} LIKE CONCAT('%', #{searchString}, '%')
				</otherwise>
			</choose>
		</if>
	
	</select>
	
	<!-- 처리되지 않은 신고의 개수 가져오기 (검색한 신고) -->
	<select id="getUnresultedReportCntBySearch"
			resultType="Integer">		
			
		SELECT 
			COUNT(*) 
		FROM 
			BOARD_REPORT AS BR 
		JOIN 
			BOARD_REPORT_CATEGORY AS BRC 
		ON 
			BR.BR_CATEGORY_NO = BRC.BRC_NO 
		LEFT JOIN 
			USER_ACCOUNT AS U 
		ON 
			BR.BR_REPORTER_NO = U.U_NO 
		WHERE 
			BR.BR_IS_DELETED = 1 
		AND 
			BRC.BRC_IS_DELETED = 1 
		AND 
			BR.BR_STATE = 1 
		<if test="searchPart != null and searchString != null">
			<choose>
				<when test="searchPart == 'u_id'">
					AND 
						U.U_ID LIKE CONCAT('%', #{searchString}, '%')
				</when>
				<when test="searchPart == 'u_name'">
					AND 
						U.U_NAME LIKE CONCAT('%', #{searchString}, '%')
				</when>
				<otherwise>
					AND 
						BR.${searchPart} LIKE CONCAT('%', #{searchString}, '%')
				</otherwise>
			</choose>
		</if>
	
	</select>
	
<!-- 신고 처리 관련 -->

	<!-- 신고 처리 결과 테이블에 신고 처리 결과 저장 -->
	<insert id="insertNewReportResult"
			parameterType="Map">
	
		INSERT INTO 
			BOARD_REPORT_RESULT(
				BRR_REPORT_NO, BRR_RESULT, BRR_ANSWER_A_NO) 
		VALUES(
				#{br_no}, #{brr_result}, #{a_no})
	
	</insert>
	
	<!-- BOARD_REPORT_RESULT에 마지막에 insert된 컬럼의 NO 가져오기 -->
	<select id="getReportResultLastNo"
			resultType="Integer">
	
		SELECT 
			BRR_NO 
		FROM 
			BOARD_REPORT_RESULT 
		ORDER BY 
			BRR_NO DESC 
		LIMIT 
			1
	
	</select>
	
	<!-- 신고 테이블에 신고 처리 결과 no와 처리 상태 업데이트 -->
	<update id="updateBoardReportWithResult"
			parameterType="Map">
			
		UPDATE 
			BOARD_REPORT 
		SET 
			BR_RESULT_NO = #{brr_no}, 
			BR_STATE = 0 
		WHERE 
			BR_NO = #{br_no}
	
	</update>
	
	<!-- 게시물 숨김처리 결과(BP_REPORT_STATE)를 게시물 테이블에 업데이트 -->
	<update id="updateBoardPostsWithResult"
			parameterType="Map">
			
		UPDATE 
			BOARD_POSTS 
		SET 
			BP_REPORT_STATE = #{bp_report_state} 
		WHERE 
			BP_NO = #{br_post_no}
	
	</update>
	
	<!-- 신고 처리 결과 수정 -->
	<update id="updateReportResult"
			parameterType="Map">
		
		UPDATE 
			BOARD_REPORT_RESULT 
		SET 
			BRR_RESULT = #{brr_result}, 
			BRR_ANSWER_A_NO = #{a_no}, 
			BRR_MOD_DATE = NOW() 
		WHERE 
			BRR_NO = #{brr_no}
	
	</update>
	
	<!-- 신고 처리 결과 삭제 -->
	<update id="deleteReportResult"
			parameterType="Integer">
	
		UPDATE 
			BOARD_REPORT_RESULT 
		SET 
			BRR_IS_DELETED = 0, 
			BRR_MOD_DATE = NOW() 
		WHERE 
			BRR_NO = #{brr_no}
	
	</update>


</mapper>