<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.see_nior.seeniorAdmin.video.mapper.VideoMapper">

	<resultMap type="VideoDto" id="VideoDto">
		<id column="v_no" property="v_no"/>
		<result column="v_title" property="v_title"/>
		<result column="v_text" property="v_text"/>
		<result column="v_link" property="v_link"/>
		<result column="v_platform" property="v_platform"/>
		<result column="v_is_deleted" property="v_is_deleted"/>
		<result column="v_reg_date" property="v_reg_date"/>
		<result column="v_mod_date" property="v_mod_date"/>
	</resultMap>
	
	<select id="selectVideoList"
			resultMap="VideoDto">
			
		SELECT 
			* 
		FROM 
			VIDEO 
		WHERE 
			V_IS_DELETED = 1
		ORDER BY 
			${sortValue} ${order} 
		LIMIT 
			#{start}, #{limit}
		
	</select>
	
	<select id="selectAllVideoListCnt"
			resultType="Integer">
	
		SELECT 
			COUNT(V_NO) 
		FROM 
			VIDEO 
		WHERE 
			V_IS_DELETED = 1
	
	</select>
	
	<insert id="insertNewVideo">
	
		INSERT INTO 
			VIDEO(
				V_TITLE, 
				V_TEXT, 
				V_LINK, 
				V_PLATFORM 
				) 
		VALUES(
			#{v_title}, 
			#{v_text}, 
			#{v_link}, 
			#{v_platform}
			)
	
	</insert>
	
	<select id="selectSearchVideoList"
			resultMap="VideoDto">
			
		SELECT 
			* 
		FROM 
			VIDEO 
		WHERE 
			V_IS_DELETED = 1 
		<if test="searchPart != null and searchString != null">
			AND ${searchPart} LIKE CONCAT('%', #{searchString}, '%') 
		</if>
		ORDER BY 
			${sortValue} ${order} 
		LIMIT 
			#{start}, #{limit}
		
	</select>
	
	<select id="selectSearchVideoListCnt"
			resultType="Integer">
	
		SELECT 
			COUNT(V_NO) 
		FROM 
			VIDEO 
		WHERE 
			V_IS_DELETED = 1 
		<if test="searchPart != null and searchString != null">
			AND ${searchPart} LIKE CONCAT('%', #{searchString}, '%')
		</if>
	
	</select>
	
	<update id="updateVideoInfo">
		
		UPDATE 
			VIDEO 
		SET 
			V_TITLE = #{v_title}, 
			V_TEXT = #{v_text}, 
			V_LINK = #{v_link}, 
			V_PLATFORM = #{v_platform}, 
			V_MOD_DATE = NOW() 
		WHERE 
			V_NO = #{v_no} 
	
	</update>
	
	<select id="selectVideoInfoByNo"
			parameterType="Integer">
	
		SELECT 
			* 
		FROM 
			VIDEO 
		WHERE 
			V_NO = #{v_no} 
		
	</select>
	
	<update id="deleteConfirmByNo">
	
		UPDATE 
			VIDEO 
		SET 
			V_IS_DELETED = 1, 
			V_MOD_DATE = NOW() 
		WHERE 
			V_NO = #{v_no}			
		
	</update>
	
</mapper>