#header {
    width: 100%;
    background-color: var(--subBgColor);
    border-bottom: 1px solid var(--lightGrayColor);

    .header_container {
        width: 100%;
        height: var(--headerHeight);
        padding: 0 var(--innerPadding);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_menu_list {
            display: flex;
            align-items: center;
            gap: var(--smallGap);
            
            .header_menu {
            	padding: var(--iconsPadding);
            	border-radius: var(--bdrs);
            	border: 1px solid var(--lightGrayColor);
            	box-sizing: content-box;
			}
			
			.user_name {
            	font-size: var(--menuFontSize);
            	
            	&:hover {
            		color: var(--primaryColor);
            	}
            }
            
            .header_menu_btn_wrap {
           		position: relative;
           		
           		.alarm_num {
           			width: var(--iconsWidth);
           			height: var(--iconsWidth);
           			position: absolute;
           			top: 0;
           			right: 0;
           			cursor: pointer;
           			
           			.num {
           				display: flex;
           				align-items: center;
           				justify-content: center;
           				width: max-content;
           				min-width: 1em;
           				font-size: 10px;
           				font-weight: var(--bold);
           				line-height: 1;
           				background-color: var(--redColor);
           				color: var(--whiteColor);
           				border-radius: 20px;
           				border: 2px solid var(--whiteColor);
           				padding: var(--smallIconsPadding);
           				position: absolute;
           				top: -0.5em;
           				left: 50%;
           				transform: translateX(-50%);
           			}
            	}
				
				#notifications {
					display: none;
            		width: 400px;
            		padding-top: var(--smallGap);
            		position: absolute;
            		top: 100%;
            		right: 0;
            		z-index: 1;
	            		
            		.notifications_container {
            			width: 100%;
            			height: max-content;
            			max-height: 450px;
            			background-color: var(--subBgColor);
            			border-radius: var(--bdrs);
            			border: 1px solid var(--lightGrayColor);
            			box-shadow: var(--bxsh);
            			
            			.notifications_info_list {
            				display: block;
            				font-size: 14px;
            				color: var(--grayColor);
            				padding: var(--notificationsPadding);
            				
            				&:hover {
            					background-color: var(--lightBlueColor);
            				}
            				
            				.notifications_info {
            					display: flex;
	            				justify-content: space-between;
	            				align-items: center;
	           					gap: var(--smallGap);
	           					
	           					.notifications_user {
	           						display: flex;
	           						align-items: center;
	           						gap: var(--ssize1);
	           						
	           						.thumbnail {
	           							display: block;
	           							width: var(--smallThumbWidth);
	           							height: var(--smallThumbWidth);
	           							border-radius: 50%;
	           							border: 1px solid var(--lightGrayColor);
	           							overflow: hidden;
	           						}
	           					}
            					
            					.notifications_lapse {
            						display: inline-block;
            						width: 30%;
            						min-width: 30%;	
            						font-size: var(--subFontSize);
            					}
            				}
            				
            				.notifications_content {
            					display: -webkit-box;
            					padding-top: var(--ssize2);
							    -webkit-line-clamp: 2;
			                    -webkit-box-orient: vertical;
			                    overflow: hidden;
			                    text-overflow: ellipsis;
			                    white-space: normal;
            			
       	    					.notifications_category {
       	    						font-weight: 500;
       	    						color: var(--blackColor);
       	    					}
            				}
            			}
            		}
            		
            		&.active {
            			display: block;
	            	}
            	}
			}
        }
    }
}