<!DOCTYPE html>
<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
<head>
	<th:block th:insert="~{fragments/head.html :: head('SEE-NIOR 질환 / 질병 정보 관리')}"></th:block>
	
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			// DISEASE_CATEGORY 가져오기
			getOptionList('/disease/get_category_list', 'dc_no', true); // command, element id, isForm
        });
	</script>
</head>
<body>
<main class="contents_wrap">
		<header th:replace="~{fragments/header.html :: header}"></header>
	
		<article class="contents_container">
			<nav th:replace="~{fragments/nav.html :: nav}"></nav>
			
			<div class="content">
                <div class="content_inner sc">
					<section class="content_info_wrap">
						<div class="content_top">
					        <div class="content_top_info">
					            <h2 class="title">질환 / 질병 정보 관리</h2>
					        </div>
				            <p class="sub_title">질환 / 질병 분류 등록</p>
					    </div>
					    
						<form name="reg_disease_category_form" onsubmit="regDiseaseCategoryForm(event, 'reg_disease_category_form')">					    	
						    <div class="table_wrap mb_stepGap">
		                        <table class="content_edit_table">
		                            <colgroup>
	                                    <col class="col_row_title">
	                                    <col>
	                                    <col class="col_row_title">
	                                    <col>
	                                </colgroup>
	                                
		                            <tbody>
		                                <tr>
	                                        <th><p class="table_title">분류명</p></th>
		                                	<td>
		                                		<div class="cont_info">
			                                		<input type="text" name="dc_name" id="dc_name" class="table_info" placeholder="신규 분류 등록 시 입력해 주세요">
			                                		<button type="submit" class="btns small">등록</button>
		                                		</div>
	                                        </td>
		                                </tr>
		                            </tbody>
		                        </table>
		                    </div>
	                    </form>
	                    
					    <div class="content_top">
				            <p class="sub_title">질환 / 질병 정보 등록</p>
					    </div>
					    
					    <form name="reg_disease_form">					    	
						    <div class="table_wrap">
		                        <table class="content_edit_table">
		                            <colgroup>
	                                    <col class="col_row_title">
	                                    <col>
	                                    <col class="col_row_title">
	                                    <col>
	                                </colgroup>
	                                
		                            <tbody>
		                                <tr>
		                                	<th><p class="table_title">분류 선택</p></th>
		                                	<td>
		                                		<select class="table_info select" name="dc_no" id="dc_no">
		                                			<option value="" selected disabled>선택하세요</option>
		                                		</select>
	                                        </td>
	                                        
	                                        <th><p class="table_title">질환 / 질병명</p></th>
		                                	<td>
		                                		<input type="text" name="d_name" id="d_name" class="table_info" placeholder="질환 / 질병명"
		                                			onblur="checkEmpty(this, '질환/질병명을');">
	                                        </td>
		                                </tr>
		                                
		                                <tr>
		                                	<th><p class="table_title">추천 식단 재료</p></th>
		                                	<td>
	                                            <input type="text" name="d_good_food" id="d_good_food" class="table_info" placeholder='","로 구분하여 입력하세요'
	                                            	onblur="checkEmpty(this, '추천 식단 재료를');">
	                                        </td>
	                                        
		                                	<th><p class="table_title">비추천 식단 재료</p></th>
		                                	<td>
	                                            <input type="text" name="d_bad_food" id="d_bad_food" class="table_info" placeholder='","로 구분하여 입력하세요'
	                                            	onblur="checkEmpty(this, '비추천 식단 재료를');">
	                                        </td>
		                                </tr>
		                                <tr>
		                                	<th><p class="table_title">질환 / 질병 정보</p></th>
		                                	<td colspan="3">
	                                			<textarea name="d_info" id="d_info" class="table_textarea" placeholder="내용을 입력하세요"></textarea>
	                                        </td>
		                                </tr>
		                            </tbody>
		                        </table>
		                        
		                        <div class="btn_list right">
	                                <div class="btn_list">
	                                    <a href="javascript: history.back();" class="btns cancel">뒤로가기</a>
	                                    <a href="javascript: regDiseaseForm('reg_disease_form')" class="btns">저장</a>
	                                </div>
	                            </div>
		                    </div>
	                    </form>
					</section>
                </div>
            </div>
		</article>
	</main>
</body>
</html>