<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org" >
	
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>



</head>
<body>

	<article>
	
		<p>disease list</p>
		
		<table>
			<thead>
				<tr>
					<th>no</th>
					<th>category</th>
					<th>name</th>
					<th>info</th>
					<th>good_food</th>
					<th>bad_food</th>
					<th>reg_date</th>
					<th>mod_date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="diseaseDto : ${diseaseDto}">
					<td th:text="${diseaseDto.no}"></td>
					<td th:text="${diseaseDto.diseaseCategoryDto.name}"></td>
					<td th:text="${diseaseDto.name}"></td>
					<td th:text="${diseaseDto.info}"></td>
					<td th:text="${diseaseDto.good_food}"></td>
					<td th:text="${diseaseDto.bad_food}"></td>
					<td th:text="${diseaseDto.reg_date}"></td>
					<td th:text="${diseaseDto.mod_date}"></td>
				
				</tr>
			</tbody>
		
		</table>
		
		<br>
		<a href="/disease/create_category_form">질환 카테고리 추가</a>
		<a href="/disease/create_form">질환 추가</a>
	
	</article>


</body>
</html>