<!DOCTYPE html>
<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
<head>
	<th:block th:insert="~{fragments/head.html :: head('SEE-NIOR 질환 / 질병 정보 관리')}"></th:block>
	
	<script type="module">
		import { getList, getOptionList } from '/js/api/api_get_list.js'; // 테이블 기본 or 정렬 리스트 불러오기
		import { searchForm } from '/js/submitForm.js'; // 검색폼 제출
		window.getList = getList;
		window.getOptionList = getOptionList;
		window.searchForm = searchForm;
		document.addEventListener('DOMContentLoaded', () => {
			const { hasSearchString, page, sort, sortValue } = setFormValuesFromUrl('d_name'); // 검색 파트 기본값
			hasSearchString ? searchForm(null, '/disease/search_disease', page) : getList('/disease/get_all_disease_list_with_page', sort, sortValue, page);

			// DISEASE_CATEGORY 가져오기
			getOptionList('/disease/get_category_list', 'dc_name');
        });
	</script>
</head>
<body>
	<main class="contents_wrap">
		<header th:replace="~{fragments/header.html :: header}"></header>
	
		<article class="contents_container">
			<nav th:replace="~{fragments/nav.html :: nav}"></nav>
			
			<div class="content">
                <div class="content_inner sc">
					<section class="content_info_wrap">
					    <div class="content_top">
					        <div class="content_top_info">
					            <h2 class="title">질환 / 질병 정보 관리</h2>
					            
					            <div class="content_top_right">
									<form name="search_form" onsubmit="searchForm(event, '/disease/search_disease')" th:insert="~{fragments/search.html :: search('질환 / 질병 정보 관리')}"></form>
						            
						            <div class="btn_list">
						            	<div class="btns small" onclick="getList('/disease/get_all_disease_list_with_page', null, null, 1)">전체보기</div>
						            	<div class="btns small delete" onclick="getList('/disease/get_all_disease_list_with_page', null, null, 1)">삭제</div>
						            	<a href="" class="btns small" onclick="getList('/disease/get_all_disease_list_with_page', null, null, 1)">등록</a>
						            </div>
					            </div>
					        </div>
					    </div>
					    
					    <div class="table_wrap">
	                        <table class="content_table">
	                            <colgroup>
	                                <col class="col_checkBox">
	                                <col class="col_no">
	                                <col>
	                                <col>
	                                <col>
	                            </colgroup>
	
	                            <thead>
	                                <tr>
	                                	<th>
	                                		<div class="table_title"><input type="checkbox" name="all_check" id="all_check" ></div>	                                        
	                                    </th>
	                                    <th>
	                                        <p class="table_title">No</p>
	                                    </th>
	                                    
	                                    <th>
	                                        <div class="table_title select" id="dc_name" onclick="setSelectOptionTopggle(event)">분류명</div>
	                                    </th>
	                                    
	                                    <th>
	                                        <p class="table_title">질환 / 질병명</p>
	                                    </th>
	                                    <th>
	                                        <p class="table_title">등록일</p>
	                                    </th>
	                                </tr>
	                            </thead>
	
	                            <tbody>
	                                
	                            </tbody>
	                        </table>
	                        
	                        <div class="pagination_wrap"></div>
	                    </div>
					</section>
                </div>
            </div>
		</article>
	</main>
</body>
</html>