<!DOCTYPE html>
<html 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:fragment="nav" class="side_menu_wrap">
	<div class="side_menu_inner sc">
	    <div class="side_menu_list">
	        <a href="" class="side_menu_btn">
	            <span class="side_menu">메인</span>
	        </a>
	    </div>
	    <div class="side_menu_list">
	        <a href="" class="side_menu_btn">
	            <span class="side_menu">관리자 계정 관리</span>
	        </a>
	    </div>
	    <div class="side_menu_list">
	        <a href="" class="side_menu_btn">
	            <span class="side_menu">회원 관리</span>
	        </a>
	    </div>
	    <div class="side_menu_list on">
	        <p class="side_menu_btn arrow">
	            <span class="side_menu">정보 관리</span>
	        </p>
	        <div class="side_sub_menu_list">
	            <a href="" class="side_sub_menu_btn on">
	                <span class="side_sub_menu">질환/질병 정보 관리</span>
	            </a>
	            <a href="" class="side_sub_menu_btn">
	                <span class="side_sub_menu">영상 정보 관리</span>
	            </a>
	            <a href="" class="side_sub_menu_btn">
	                <span class="side_sub_menu">식단 정보 관리</span>
	            </a>
	        </div>
	    </div>
	    <div class="side_menu_list">
	        <p class="side_menu_btn arrow">
	            <span class="side_menu">게시판 관리</span>
	        </p>
	        <div class="side_sub_menu_list">
	            <a href="" class="side_sub_menu_btn">
	                <span class="side_sub_menu">게시판 관리</span>
	            </a>
	            <a href="" class="side_sub_menu_btn">
	                <span class="side_sub_menu">공지 사항</span>
	            </a>
	            <a href="" class="side_sub_menu_btn">
	                <span class="side_sub_menu">질문과 답변</span>
	            </a>
	        </div>
	    </div>
	    <div class="side_menu_list">
	        <a href="" class="side_menu_btn">
	            <span class="side_menu">신고 관리</span>
	        </a>
	    </div>
	    <div class="side_menu_list">
	        <a href="" class="side_menu_btn">
	            <span class="side_menu">광고 관리</span>
	        </a>
	    </div>
	</div>
</nav>
</html>