<!DOCTYPE html>
<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
<head>
	<th:block th:insert="~{fragments/head.html :: head('Error!')}"></th:block>
	<link rel="stylesheet" href="/css/error/error.css">
</head>

<body>
	<main class="contents_wrap">
		<header th:replace="~{fragments/header.html :: header}"></header>
	
		<article class="contents_container">
			<nav th:replace="~{fragments/nav.html :: nav}"></nav>
			
			<div class="content">
                <div class="content_inner sc">
					<section class="error_info_wrap">
						<div class="error_container">
							<div class="error_icon">
								<svg class="error_5xx" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
									<g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
										<g>
											<g transform="translate(-486 -223) translate(372 223) translate(114) translate(3 3) translate(.25 .25)">
												<path stroke-width="2.5" d="M22.75 9.208L22.75 27.865M22.75 33.763L22.75 36.292"></path>
												<circle cx="22.75" cy="22.75" r="22.75" stroke-width="2"></circle>
											</g>
										</g>
									</g>
								</svg>
							</div>
							
							<div class="error_info">
								<h1 class="error_title">요청을 처리할 수 없습니다.</h1>
								<p class="error_text">
									잠시 후 다시 시도해 주세요.
									<br>문제가 지속될 경우 관리자에게 문의해 주세요.
								</p>
								
								<div class="error_code">
									<span class="bold" th:if="${status}" th:text="${status}"></span>
									<span th:if="${error}" th:text="| (${error})|"></span>
									<p th:if="${message}" th:text="${message}"></p>
								</div>
							</div>
							
							<a href="javascript: history.back();" class="btns">이전 화면으로</a>
						</div>
					</section>
                </div>
            </div>
		</article>
	</main>
</body>
</html>