<!DOCTYPE html>
<html
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
<head>
	<th:block th:insert="~{fragments/head.html :: head('SEE-NIOR 관리자 계정 관리')}"></th:block>
	
	<script src="/js/validation.js"></script>
	
	<script type="module">
		import { getAdminList } from '/js/api/api_get_list.js'; // 테이블 리스트 불러오기
		import { searchForm } from '/js/submitForm.js'; // 검색폼 제출
		import { setFormValuesFromUrl } from '/js/handler.js'; // 새로고침 시 현재 페이지 적용
		window.getList = getAdminList;
		window.searchForm = searchForm;
		document.addEventListener('DOMContentLoaded', () => {
			const { hasSearchString, page } = setFormValuesFromUrl('a_id'); // 검색 파트 기본값
			hasSearchString ? searchForm(event, 'search_admin_list', page) : getList(page);
        });
	</script>
</head>

<body>
	<main class="contents_wrap">
		<header th:replace="~{fragments/header.html :: header}"></header>
	
		<article class="contents_container">
			<nav th:replace="~{fragments/nav.html :: nav}"></nav>
			
			<div class="content">
                <div class="content_inner sc">
					<section class="content_info_wrap">
					    <div class="content_top">
					        <div class="content_top_info">
					            <h2 class="title">관리자 계정 관리</h2>
					            
					            <div class="content_top_right">
									<form name="search_form" onsubmit="searchForm(event, 'search_admin_list')" th:insert="~{fragments/search.html :: search('관리자 계정 관리')}"></form>
						            
						            <div class="btn_list">
						            	<div class="btns small" onclick="getList()">전체보기</div>
						            </div>
					            </div>
					        </div>
					    </div>
					    
					    <div class="table_wrap">
	                        <table class="content_table">
	                            <colgroup>
	                                <col class="col_no">
	                                <col class="col_default">
	                                <col class="col_default">
	                                <col class="col_default">
	                                <col class="col_default">
	                                <col class="col_default">
	                            </colgroup>
	
	                            <thead>
	                                <tr>
	                                    <th>
	                                        <p class="table_title">No</p>
	                                    </th>
	                                    <th>
	                                        <p class="table_title">아이디</p>
	                                    </th>
	                                    <th>
	                                        <p class="table_title">권한 등급</p>
	                                    </th>
	                                    <th>
	                                        <p class="table_title">연락처</p>
	                                    </th>
	                                    <th>
	                                        <p class="table_title">이름</p>
	                                    </th>
	                                    <th>
	                                        <p class="table_title">가입일</p>
	                                    </th>
	                                </tr>
	                            </thead>
	
	                            <tbody>
	                                
	                            </tbody>
	                        </table>
	                        
	                        <div class="pagination_wrap"></div>
	                    </div>
					</section>
                </div>
            </div>
		</article>
	</main>
	
	
	
	
</body>
</html>