<!DOCTYPE html>
<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
<head>
	<th:block th:insert="~{fragments/head.html :: head('SEE-NIOR 관리자 계정 관리')}"></th:block>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
			const { sortType, sort, sortValue, page } = setFormValuesFromUrl('a_id'); // 검색 파트 기본값
			switch(sortType) {
				case '2': // 검색
					getSearchList(null, '/account/search_admin_list', page);
					break;

				case '0':  // 정렬
					getList('/account/get_admin_list', sort, sortValue, page);
					break;
					
				default:  // 기본
					getList('/account/get_admin_list', sort, sortValue, page);
			}

			// DISEASE_CATEGORY 가져오기
			getOptionList('/disease/get_category_list', 'dc_name');
        });
	</script>
</head>

<body>
	<main class="contents_wrap">
		<header th:replace="~{fragments/header.html :: header}"></header>
	
		<article class="contents_container">
			<nav th:replace="~{fragments/nav.html :: nav}"></nav>
			
			<div class="content">
                <div class="content_inner sc">
					<section class="content_info_wrap">
					    <div class="content_top">
					        <div class="content_top_info">
					            <h2 class="title">관리자 계정 관리</h2>
					            
					            <div class="content_top_right">
									<form name="search_form" onsubmit="getSearchList(event, '/account/search_admin_list')" th:insert="~{fragments/search.html :: search('관리자 계정 관리')}"></form>
						            
						            <div class="btn_list">
						            	<div class="btns small" onclick="getList('/account/get_admin_list', null, null, 1)">전체보기</div>
						            </div>
					            </div>
					        </div>
					    </div>
					    
					    <div class="table_wrap">
	                        <table class="content_table admin_list_table">
	                            <colgroup>
	                                <col class="col_no">
	                                <col class="col_default">
	                                <col class="col_default">
	                                <col class="col_default">
	                                <col class="col_default">
	                                <col class="col_default">
	                            </colgroup>
	
	                            <thead>
	                                <tr>
	                                    <th>
	                                        <p class="table_title">No</p>
	                                    </th>
	                                    <th>
	                                        <p class="table_title">아이디</p>
	                                    </th>
	                                    
	                                    <th>
	                                        <p data-sort="approval" data-current-sort="all" class="table_title sort"
	                                        	onclick="getSortList(event, '/account/get_admin_list', 'approval', 'notApproval')">
	                                        	관리자 승인
	                                        	<span class="sort_icon"></span>
	                                        </p>
	                                    </th>
	                                    
	                                    <th>
	                                        <p class="table_title">연락처</p>
	                                    </th>
	                                    <th>
	                                        <p class="table_title">이름</p>
	                                    </th>
	                                    <th>
	                                        <p class="table_title">가입일</p>
	                                    </th>
	                                </tr>
	                            </thead>
	
	                            <tbody>
	                                
	                            </tbody>
	                        </table>
	                        
	                        <div class="pagination_wrap"></div>
	                    </div>
					</section>
                </div>
            </div>
		</article>
	</main>
</body>
</html>