<!DOCTYPE html>
<html
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
<head>
	<th:block th:insert="~{fragments/head.html :: head('SEE-NIOR 관리자 계정 관리')}"></th:block>
	
	<script src="/js/validation.js"></script>
	
	<script type="module">
		import { modifyForm } from '/js/submitForm.js'; // 로그인 폼 제출
		window.modifyForm = modifyForm;
	</script>
</head>
<body>
	<main class="contents_wrap">
		<header th:replace="~{fragments/header.html :: header}"></header>
	
		<article class="contents_container">
			<nav th:replace="~{fragments/nav.html :: nav}"></nav>
			
			<div class="content">
                <div class="content_inner sc">
					<section class="content_info_wrap">
					    <div class="content_top">
					        <div class="content_top_info">
					            <h2 class="title">관리자 계정 관리</h2>
					        </div>
				            <p class="sub_title">관리자 계정 정보</p>
					    </div>
					    
					    <form name="modify_form" onsubmit="modifyForm(event, 'modify_form')">					    	
						    <div class="table_wrap">
		                        <table class="content_edit_table">
		                            <colgroup>
	                                    <col class="col_row_title">
	                                    <col>
	                                    <col class="col_row_title">
	                                    <col>
	                                </colgroup>
	                                
		                            <tbody>
		                                <tr>
		                                	<th><p class="table_title">아이디</p></th>
		                                	<td class="disabled">
		                                		<input type="hidden" name="a_no" th:value="${loginedAdminDto.a_no}">
		                                		<input type="text" name="a_id" id="a_id" class="table_info disabled"
	                                            	th:value="${loginedAdminDto.a_id}" disabled>
	                                        </td>
		                                </tr>
		                                
		                                <tr>
		                                	<th><p class="table_title">이름</p></th>
		                                	<td>
	                                            <input type="text" name="a_name" id="a_name" class="table_info" placeholder="이름"
	                                            	oninput="checkEmpty(this, '이름을')" onblur="checkEmpty(this, '이름을')"
	                                            	th:value="${loginedAdminDto.a_name}">
	                                        </td>
		                                	<th><p class="table_title">비밀번호</p></th>
		                                	<td>
		                                		<label class="cont_info">
		                                			<input type="password" name="a_pw" id="a_pw" class="table_info" placeholder="변경 시 입력" autocomplete="off"
		                                				oninput="clearErrorMessage(this)">
		                                			<span class="input_icon" onclick="setViewPw(this)">
							                        	<img src="/image/icons/eye_off.svg" alt="toggle password visibility" class="icon">
							                        </span>
		                                		</label>
	                                        </td>
		                                </tr>
		                                
		                                <tr>
		                                	<th><p class="table_title">연락처</p></th>
		                                	<td>
	                                            <input type="text" name="a_phone" id="a_phone" maxlength="13" class="table_info" placeholder="연락처"
	                                            	onkeydown="setReplacePhone(this)" onkeyup="validatePhone(this)" onblur="validatePhone(this)"
	                                            	th:value="${loginedAdminDto.a_phone}">
	                                        </td>
		                                	<th><p class="table_title">부서</p></th>
		                                	<td class="disabled">
	                                            <input type="text" name="a_department" id="a_department" class="table_info" placeholder="부서"
	                                            	th:value="${loginedAdminDto.a_department}"
	                                            	th:disabled="${not #authorization.expression('hasAnyRole(''SUPER_ADMIN'')')}">
	                                        </td>
		                                </tr>
		                                
		                                <tr>
		                                	<th><p class="table_title">직위</p></th>
		                                	<td class="disabled">
	                                            <input type="text" name="a_level" id="a_level" class="table_info" placeholder="직위"
	                                            	th:value="${loginedAdminDto.a_level}"
	                                            	th:disabled="${not #authorization.expression('hasAnyRole(''SUPER_ADMIN'')')}">
	                                        </td>
		                                	<th><p class="table_title">직책</p></th>
		                                	<td class="disabled">
	                                            <input type="text" name="a_position" id="a_position" class="table_info" placeholder="직책"
	                                            	th:value="${loginedAdminDto.a_position}"
	                                            	th:disabled="${not #authorization.expression('hasAnyRole(''SUPER_ADMIN'')')}">
	                                        </td>
		                                </tr>
		                            </tbody>
		                        </table>
		                        
		                        <div class="btn_list right">
	                                <div class="btn_list">
	                                    <a href="javascript: history.back();" class="btns cancel">뒤로가기</a>
	                                    <button type="submit" class="btns">저장</button>
	                                </div>
	                            </div>
		                    </div>
	                    </form>
					</section>
                </div>
            </div>
		</article>
	</main>
</body>
</html>