<!DOCTYPE html>
<html 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<th:block th:insert="~{fragments/head.html :: head('로그인')}"></th:block>
    <link rel="stylesheet" href="/css/account/sign_form.css">
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
            setInputFocus('a_id'); 
        });
	</script>
</head>

<body>	
	<main class="sign_form_wrap">
        <article class="sign_form">
            <div class="logo_info">
                <h1 class="a11y-hidden">SEENIOR</h1>
                <a href="/" class="logo">
                    <img src="/image/logo/signature-logo.png" alt="logo" class="logo_img">
                </a>
            </div>

            <form name="sign_in_form" onsubmit="postSignInForm(event, 'sign_in_form')">
            	<div class="input_list_container">
	                <div class="input_list" id="input_list_info">
	                    <label for="id" class="border_input">
	                        <span class="input_title">이메일</span>
	                        <input type="text" name="a_id" id="id" placeholder="관리자 이메일" class="input_txt">
	                    </label>
	
	                    <label for="pw" class="border_input">
	                        <span class="input_title">비밀번호</span>
	                        <input type="password" name="a_pw" id="pw" placeholder="비밀번호" class="input_txt" autocomplete="off">
	                        <span class="input_icon" onclick="setPwViewToggle(this)">
	                        	<img src="/image/icons/eye_off.svg" alt="toggle password visibility" class="icon">
	                        </span>
	                    </label>
	                </div>
	                
	                <div class="btn_list col">
	                    <button type="submit" class="btns">관리자 로그인</button>
	                    <a href="/account/sign_up_form" class="btns white">회원가입</a>
	                </div>
                </div>
            </form>
        </article>
    </main>
</body>
</html>