<!DOCTYPE html>
<html 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   
<head>
	<th:block th:insert="~{fragments/head.html :: head('회원가입')}"></th:block>
    <link rel="stylesheet" href="/css/account/sign_form.css">
    <script type="text/javascript">
		$(function() {
            setInputFocus('a_id'); 
        });
	</script>
</head>

<body>
	<main class="sign_form_wrap">
        <article class="sign_form">
            <div class="logo_info">
                <h1 class="a11y-hidden">SEENIOR</h1>
                <a href="" class="logo">
                    <img src="/image/logo/signature-logo.png" alt="logo" class="logo_img">
                </a>
            </div>

            <form name="sign_up_form" onsubmit="postSignUpForm(event, 'sign_up_form')">
            	<div class="input_list_container">
	                <div class="input_list" id="input_list_info">
	                    <label for="id" class="border_input">
	                        <span class="input_title">이메일</span>
	                        <input type="text" name="a_id" id="id" placeholder="이메일" class="input_txt" 
	                        	oninput="validateEmail(this)" onblur="validateEmail(this, true)">
	                    </label>
	
	                    <label for="password" class="border_input">
	                        <span class="input_title">비밀번호</span>
	                        <input type="password" name="a_pw" id="pw" placeholder="비밀번호" class="input_txt pr_baseGap" 
	                        	oninput="validatePw(this)" onblur="validatePw(this)" autocomplete="off">
	                        <span class="input_icon" onclick="setPwViewToggle(this)">
	                        	<img src="/image/icons/eye_off.svg" alt="toggle password visibility" class="icon">
	                        </span>
	                    </label>
	
	                    <label for="name" class="border_input">
	                        <span class="input_title">이름</span>
	                        <input type="text" name="a_name" id="name" placeholder="이름" class="input_txt" 
	                        	oninput="checkEmpty(this, '이름을')" onblur="checkEmpty(this, '이름을')">
	                    </label>
	                    
	                    <label for="birth" class="border_input">
	                        <span class="input_title">생년월일</span>
	                        <input type="date" name="a_birth" id="birth" max="9999-12-31" min="1900-01-01" class="input_txt" 
	                        	onchange="checkEmpty(this, '생년월일을')" onblur="checkEmpty(this, '생년월일을')">
	                    </label>
						
						<label for="tel" class="border_input">
	                        <span class="input_title">연락처</span>
	                        <input type="text" name="a_phone" id="phone" maxlength="13" placeholder='"-" 없이 입력하세요' class="input_txt" 
	                        	onkeydown="setReplacePhone(this)" onkeyup="validatePhone(this)" onblur="validatePhone(this)">
	                    </label>
	                </div>
	                
                    <div class="btn_list col">
                        <button type="submit" class="btns">회원가입</button>
                        <a href="/account/sign_in_form" class="btns cancel">취소</a>
                    </div>
                </div>
            </form>
        </article>
    </main>
</body>
</html>