<!DOCTYPE html>
<html 
   xmlns:th="http://www.thymeleaf.org" 
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
	<meta charset="UTF-8">
	<title>로그인</title>
	
	<link rel="apple-touch-icon" sizes="180x180" href="../../image/logo/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../image/logo/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../image/logo/favicon-16x16.png">
    <link rel="manifest" href="../../image/logo/site.webmanifest">
    <link rel="mask-icon" href="../../image/logo/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/css/account/sign_in_form.css">
</head>

<body>	
	<main class="sign_form_wrap">
        <article class="sign_form">
            <div class="logo_info">
                <h1 class="a11y-hidden">SEENIOR</h1>
                <a href="/" class="logo">
                    <img src="/image/logo/signature-logo.png" alt="logo" class="logo_img">
                </a>
            </div>

            <form name="sign_in_form" action="" method="post">
                <div class="input_list">
                    <label for="id" class="border_input">
                        <span class="input_title">아이디</span>
                        <input type="text" name="id" id="id" placeholder="관리자 아이디" class="input_txt">
                    </label>

                    <label for="password" class="border_input">
                        <span class="input_title">비밀번호</span>
                        <input type="password" name="password" id="password" placeholder="비밀번호" class="input_txt">
                    </label>

                    <div class="btn_list col">
                        <button type="submit" class="btns">관리자 로그인</button>
                        <a href="/account/sign_up_form" class="btns white">회원가입</a>
                    </div>
                </div>
            </form>
        </article>
    </main>
</body>
</html>