<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head>
    <th:block th:insert="~{fragments/head.html :: head('질문과 답변')}"></th:block>
    <script th:inline="javascript">
    	logger.info('qnaDto --->', /*[[${qnaDto}]]*/);
    </script>
</head>

<body>
	<main class="contents_wrap">
	    <header th:replace="~{fragments/header.html :: header}"></header>
	
	    <article class="contents_container">
	        <nav th:replace="~{fragments/nav.html :: nav}"></nav>
	
	        <div class="content">
	            <div class="content_inner sc">
	                <section class="content_info_wrap">
	                    <div class="content_top">
	                        <div class="content_top_info">
	                            <h2 class="title">질문과 답변</h2>
	                        </div>
	                        <p class="sub_title">질문과 답변</p>
	                    </div>
	
	                    <form name="qna_answer_form">
		                    <input type="hidden" name="bq_no" th:value="${qnaDto.bq_no}">
		                    
		                    <th:block th:if="${qnaDto.qnaAnswerDto}">
			                    <input type="hidden" name=bqa_no th:value="${qnaDto.qnaAnswerDto.bqa_no}">
			                    <input type="hidden" name="a_id" th:value="${qnaDto.qnaAnswerDto.adminAccountDto.a_id}">
			                    <input type="hidden" name="current_bqa_answer" th:value="${qnaDto.qnaAnswerDto.bqa_answer}">
		                    </th:block>
		                    
	                        <div class="table_wrap">
	                            <table class="content_edit_table">
	                                <colgroup>
	                                    <col class="col_row_title">
	                                    <col>
	                                    <col class="col_row_title">
	                                    <col>
	                                </colgroup>
	
	                                <tbody>
	                                	<tr>
		                                    <th><p class="table_title">질문 유형</p></th>
		                                    <td>
		                                    	<p class="table_info" th:text="${qnaDto.qnaCategoryDto.bqc_name}"></p>
		                                    </td>
		                                    
		                                    <th><p class="table_title">공개 설정</p></th>
		                                    <td>
		                                    	<div class="table_info bq_state">
	                                            	<label class="radio">
	                                            		<input type="radio" name="bq_state" data-info="공개" value="true" 
	                                            			th:checked="${qnaDto.bq_state == true}"
	                                            			th:attr="onclick=${qnaDto.bq_state != true ? 'putModifyState(this, `qna_answer_form`)' : ''}"
	                                            		> 공개
	                                            	</label>
	                                            	<label class="radio">
	                                            		<input type="radio" name="bq_state" data-info="비공개" value="false" 
	                                            			th:checked="${qnaDto.bq_state == false}"
	                                            			th:attr="onclick=${qnaDto.bq_state != false ? 'putModifyState(this, `qna_answer_form`)' : ''}"
	                                            		> 비공개
	                                            	</label>
	                                            </div>
		                                    </td>
		                                </tr>
		                                
		                                <tr>
		                                    <th><p class="table_title">제목</p></th>
		                                    <td colspan="3">
		                                    	<p class="table_info" th:text="${qnaDto.bq_title}"></p>
		                                    </td>
		                                </tr>
		                                
		                                <tr>
		                                    <th><p class="table_title">작성자 아이디</p></th>
		                                    <td>
		                                    	<p class="table_info" th:text="${qnaDto.userAccountDto.u_id}"></p>
		                                    </td>
		                                    
		                                    <th><p class="table_title">이름<span class="divider"></span>닉네임</p></th>
		                                    <td>
		                                    	<p class="table_info" th:utext="|
		                                    		${qnaDto.userAccountDto.u_name}
		                                    		<span class='divider'></span>
		                                    		${qnaDto.userAccountDto.u_nickname}
	                                    		|"></p>
		                                    </td>
		                                </tr>
		                                
		                                <tr>
		                                	<th><p class="table_title">등록일<span class="divider"></span>수정일</p></th>
	                                        <td colspan="3">
	                                        	<p class="table_info" th:utext="|
	                                        		${qnaDto.bq_reg_date}
	                                        		<span class='divider'></span>
	                                        		${qnaDto.bq_mod_date}
	                                        	|"></p>
	                                        </td>
										</tr>
		                                
		                                <tr>
		                                	<th><p class="table_title">내용</p></th>
		                                	<td colspan="3" class="ta_l">
		                                		<div class="table_info"> 
		                                			<p class="table_textarea sc" th:text="${qnaDto.bq_body}"></p>
	                                			</div>
		                                    </td>
		                                </tr>
		                                
		                                <tr th:if="${qnaDto.qnaAnswerDto}">
		                                	<th><p class="table_title">답변자 아이디</p></th>
		                                    <td>
		                                    	<p class="table_info" th:text="${qnaDto.qnaAnswerDto.adminAccountDto.a_id}"></p>
		                                    </td>
		                                    
		                                    <th><p class="table_title">이름</p></th>
		                                    <td>
		                                    	<p class="table_info" th:text="${qnaDto.qnaAnswerDto.adminAccountDto.a_name}"></p>
		                                    </td>
		                                </tr>
		                                
		                                <tr>
		                                	<th><p class="table_title">답변</p></th>
		                                	<td colspan="3">
		                                		<label class="table_info"> 
			                                		<textarea name="bqa_answer" id="bqa_answer" class="table_textarea" placeholder="답변을 입력하세요"
		                                				data-limit-target="textarea" 
		                                				data-limit="short" 
		                                				oninput="setTextareaAutoHeight(this)" 
		                                				onkeyup="setTextLimit(this)"
		                                				onblur="validateEmpty(this, '답변')"
		                                				th:text="${qnaDto.qnaAnswerDto?.bqa_answer ?: ''}"
		                                				th:readonly="${
		                                					qnaDto.qnaAnswerDto != null and
				                                    		!#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') and
				                                    		qnaDto.qnaAnswerDto.adminAccountDto.a_id != #authentication.name
		                                				}"></textarea>
	                                            	<span id="text_limit">
		                                				<span id="current_size"></span> / <span id="max_size"></span>
		                                			</span>
	                                			</label>
		                                    </td>
		                                </tr>
	                                </tbody>
	                            </table>
	
                                <div class="btn_list" th:classappend="${qnaDto.qnaAnswerDto != null ? 'f_jc_right' : ''}">
                                	<div th:if="${qnaDto.qnaAnswerDto == null}"
	                        			th:onclick="delSingleData(
	                        		 		[[${qnaDto.userAccountDto.u_id} + '님의 질문']],
	                        		 		'bq_no', 
	                        		 		[[${qnaDto.bq_no}]]
                        		 		)" class="btns delete">질문 삭제</div>
		                        		 
                                	<div class="btn_list">
	                                    <a href="javascript: history.back();" class="btns cancel">뒤로가기</a>
	                                    
	                                    <div th:if="${
	                                    		qnaDto.qnaAnswerDto != null and
	                                    		(#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') or
	                                    		qnaDto.qnaAnswerDto.adminAccountDto.a_id == #authentication.name)
                                    		}"
		                        			th:onclick="delSingleData(
	                        					[[${qnaDto.qnaAnswerDto.adminAccountDto.a_id} + '님의 답변']],
		                        		 		'bqa_no', 
		                        		 		[[${qnaDto.qnaAnswerDto.bqa_no}]],
		                        		 		{
		                        		 			'bq_no': [[${qnaDto.bq_no}]],
		                        		 		}
	                        				)" class="btns delete">답변 삭제</div>
		                        		 
	                                    <div 
	                                    	th:if="${qnaDto.qnaAnswerDto == null}"
	                                    	onclick="postAnswerCreate('qna_answer_form')" class="btns">답변 등록</div>
                                    	
                                    	<div 
	                                    	th:if="${
	                                    		qnaDto.qnaAnswerDto != null and
	                                    		(#authorization.expression('hasAnyRole(''SUPER_ADMIN'')') or
	                                    		qnaDto.qnaAnswerDto.adminAccountDto.a_id == #authentication.name)
	                                    	}"
	                                    	onclick="putAnswerModify('qna_answer_form')" class="btns">답변 수정</div>
	                                </div>
                                </div>
	                        </div>
	                    </form>
	                </section>
	            </div>
	        </div>
	    </article>
	</main>
</body>
</html>
